.introduce {
  background-color: #f1f1f1;
  margin-top: 10px;
  padding: 30px 0 22px;

  .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    position: relative;

    &::after {
      display: none;
    }
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    color: #1e1e20;
    margin: 0 0 30px;
  }

  .contents {
    display: grid;
    gap: 10px;
    margin: 0 0 30px;
  }

  .box {
    border-radius: 10px;
    overflow: hidden;

    > img {
      width: 100%;
      height: calc(100vw * 245 / 370);
      object-fit: cover;
      display: block;
    }
  }

  .explain {
    padding: 13px 17px;
    background-color: #fff;
    text-align: left;
    font-family: "Inter", sans-serif !important;

    > b {
      color: #3d3d3d;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: -0.3px;
      margin: 0 0 7px;
      display: block;
    }

    > p {
      font-size: 12px;
      font-weight: 400;
      color: #494949;
      line-height: 1.42;
      letter-spacing: -0.18px;
      margin: 0;
      display: block;
      word-break: break-all;
    }
  }

  .etc {
    display: block;
    margin: 30px auto 0;
    color: #3d3d3d;
    line-height: 1.43;
    letter-spacing: -0.21px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    max-width: 776px;
  }

  .plus_btn {
    margin: 14px 0 0 auto;
    display: block;
    width: fit-content;
  }

  @media screen and (min-width: 830px) {
    padding: 77px 0 50px;
    .inner {
      padding: 0 22px;
    }

    .title {
      font-size: 60px;
      margin: 0 0 55px;
    }

    .contents {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: stretch;
    }

    .box {
      display: flex;
      flex-direction: column;
      > img {
        height: 393px;
        flex: 1;
      }

      &:nth-child(2) {
        > img {
          order: 2;
        }
      }
      .explain {
        order: 1;
      }
    }

    .explain {
      padding: 16px 26px;

      > b {
        margin: 0 0 8px;
        font-size: 24px;
        letter-spacing: -0.36px;
      }

      > p {
        font-size: 15px;
        letter-spacing: -0.23px;
      }
    }

    .etc {
      margin: 51px auto 0;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: -0.3px;
    }

    .plus_btn {
      position: absolute;
      right: 82px;
      bottom: 0;
    }
  }
}
