.research-subject {
  li {
    position: relative;
    border-radius: 12px;
    background: white;
    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(135deg, #8A34EF, #8080FF);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .inner {
      padding: 24px 24px 20px;
    }

    .bottom-box {
      p {
        &::before {
          content: "";
          display: inline-block;
          vertical-align: text-bottom;
          width: 24px;
          height: 24px;
          background: url(../images/icon-subject.svg) no-repeat center / cover;
          margin-right: 8px;
        }      
      }
    }

    .view-guide {
      border-radius: 8px;
      background: linear-gradient(161deg, #8A34EF -27.74%, #8080FF 110.68%);
      padding: 6px 16px;
      cursor: pointer;
    }
  }
}