.my-report {
  .scroll-list {
    -ms-overflow-style: none; 
    scrollbar-width: none;   
    box-shadow: inset 0 -2px 0 0 #A6B0BF;
    overflow: hidden;
    overflow-x: auto;
    
    &::-webkit-scrollbar {
      display: none;
    }
    
    li {
      position: relative;
      height: 40px;

      &.active {
        color: #8A34EF;
        font-weight: 700;

        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          height: 2px;
          z-index: 1;
          background-color: #8A34EF;
        }
      }
    }
  }

  .input-field {
    border: 1px solid #DAE0E8;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
    font-weight: 500;
    width: 100%;
    min-height: 40px;

    &:focus, &:active {
      outline: none;
    }

    &::placeholder {
      font-weight: 600;
      color: #C4C9CF;
    }
  }

  select.input-field {
    position: relative;
    background: url(./images/icon-select-arrow.svg) no-repeat center right 13px ;
    background-size: 14px 7px;
  }

  .check-box {
    appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #C9C7D3;
    width: 24px;
    aspect-ratio: 1/1;
    cursor: pointer;

    &:checked {
      background-color: #8A34EF;
      border-color: #8A34EF;
      background-image: url(./images/icon-check.svg);
      background-size: 13px 11px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:disabled {
      background-color: #EDEEF1;
    }
  }
}