/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: #000;
}
body {
	line-height: 1;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
	word-break: keep-all;
	background-color: #F0F3FA;
}
ol, ul {
	list-style: none;
  padding: 0;
  margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	width: 100%;
	display: block;
}

html, body {
	height: 100%;
	overflow-x: hidden;
}

button, select {
	border: 0;
	background-color: initial;
	cursor: pointer;

	&:active, &:focus {
		outline: 0;
	}
}

header {
	height: 60px;
	position: relative;
	padding: 8px 16px;
	box-sizing: border-box;
	background-color: #fff;
	border-bottom: 1px solid #D8D9DB;
	
	img {
		width: 160px;
		display: block;
	}
}

.popup {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	inset: 0;
	z-index: 5;
	padding: 0 16px;
	box-sizing: border-box;

	.close {
		position: absolute;
		top: 18px;
		right: 17px;
	}
}

.popup-box {
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 16px;
	right: 16px;
	transform: translateY(-50%);
	padding: 18px 16px 16px;
	border-radius: 12px;
	box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.05);
	max-width: 430px;
	margin: 0 auto;

	.info-list {
		display: flex;
		gap: 8px;

		li {
			flex: 1;
			border-radius: 10px;
			border: 1px solid #E8E8E8;
			background: #F2F2F2;
			box-sizing: border-box;
			position: relative;
			text-align: center;
			padding: 22px 5px;
			display: flex;
			flex-direction: column;

			img {
				margin: 0 auto 11px;
				width: 100%;
				max-width: 38px;	
			}

			.status-info {
				font-size: 13px;
				font-weight: 700;
				color: #2EAC00;

				&.warning {
					color: #FD7723;
				}

				&.fire {
					color: #F44B3F;
				}
			}

			.sensor {
				width: 23px;
				height: 23px;
				border-radius: 100px;
				border: 1px solid #404040;
				margin: 0 auto 16px;
				background-color: #2EAC00;

				&.warning {
					background-color: #FD7723;
				}
				&.fire {
					background-color: #F44B3F;
				}
			}

			.location-info {
				color: #242427;
				font-weight: 700;
			}
		}
	}

	&.parking-info {
		.info-list {
			li {
				.info-category {
					font-size: 13px;
					font-weight: 500;
					color: #5A5A5A;
					line-height: normal;
					padding: 12px 5px 13px;
				}

				p {
					gap: 4px;
					margin-top: auto;
					margin-bottom: auto;
	
					b {
						&.red {
							color: #F44B3F;
						}
					}
				}

				.number {
					font-size: 13px;
					font-weight: 500;
					line-height: normal;
					b {
						font-size: 15px;
						font-weight: 600;
					}
	
					&.red {
						font-weight: 600;
						color: #F44B3F;
					}
				}

				&:last-child {
					img {
						margin: 11px auto;
					}
					b {
						font-size: 13px;
					}
				}
			}
		}
	}
}

.popup-title {
	font-size: 15px;
	font-weight: 500;
	color: #242427;
	margin-bottom: 23px;

	.label {
		margin-left: 7px;
		border-radius: 100px;
		background-color: #F44B3F;
		line-height: 22px;
		padding: 4px 9px;
		color: #fff;
		font-size: 12px;
		font-weight: 600;
		position: relative;
		top: -1.5px;
	}
}

@media screen and (min-width:1024px) {
	header:not(.mo) {
		.inner {
			width: 100%;
			max-width: 1446px;
			margin: 0 auto;
			height: 100%;
		}
		height: 92px;
		padding: 16px;

		img {
			width: 208px;
		}
	}
}