@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

html, body {
  font-family: "Noto+Sans+KR", sans-serif;
  overflow-x: hidden;
  height: 100%; 
} 

body {
  min-width: 1920px;
}

#wrap {
  width: 100%; 
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
}  

main {
  flex: 1;
}

.theme-content-inner, .theme-header-inner {
  /* width: 100%; */
  max-width: 1742px;
  margin: 0 auto;
  position: relative;
}

.theme-header {
  width: 100%;
  background-color: #1c1c1c;
  padding: 15px;
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: -2px;
    background-image: linear-gradient(to right, #9b4a0b, #dba22d 11%, #f5d657 32%, #ffff9c 37%, #fff 43%, #ffffde 44%, #ffffa6 46%, #ffff90 46%, #f7e773 51%, #f0cf57 57%, #ecc146 62%, #ebbc40 66%, #e1ad37 72%, #d39529 82%, #d29328 83%, #c67f1e 100%);
    left: -15px;
    right: -15px;
  }
}

.theme-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-logo {
  display: block;
  margin: 0;

  img {
    width: 126px;
    object-fit: cover;
  }
}

.header-menu-list {
  list-style: none;
  padding: 0;
  margin: 0 -22px;
  display: flex;
  align-items: center;
}

.header-menu-item {
  padding: 0 22px;
}

.header-menu-link {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  line-height: 1.47;
  letter-spacing: normal;
  text-decoration: none;
  position: relative;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &.new {
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -7px;
      width: 4px;
      height: 4px;
      border-radius: 100px;
      background-color: #f24b3e;
      top: 0;
    }
  }
}

.header-menu-user-name {
  color: #daa12d;
}

.theme-content-inner {
  padding: 25px 15px;
}

.main-visual-slide {
  height: 653px;
  position: relative;
}

.main-visual-slide-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(0,0,0,0.5);
  line-height: 40px;
  text-align: center;
  display: block;
  z-index: 10;
}

.main-visual-slide-bottom-line-text {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
}

.main-visual-slide-wrap {
  width: 100%;
  position: relative;
  margin-bottom: 24px;

  .swiper-slide {
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      background-color: #b7b7b7;
      opacity: 1;
      margin: 0 5px !important;

      &.swiper-pagination-bullet-active {
        background-color: #daa12d;
      }
    }
  }
}

.product-list {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.product-item {
  padding: 0 15px;
  width: 33.333%;
}

.product-link {
  display: block;
  text-decoration: none;
  background-color: #1c1c1c;

  &:hover {
    text-decoration: none;
  }
}

.product-img {
  width: 100%;
  padding-top:86%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-name {
  display: block;
  padding: 28px;
  text-align: center;
  font-size: 18px;
  color: #f7f7f7;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: -0.54px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatting-list-wrap {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #1c1c1c;
}

.chatting-list-head {
  display: block;
  width: 100%;
  padding: 10px 24px;
  font-size: 13px;
  color: #fff;
  font-weight: 800;
  line-height: 1.46;
  letter-spacing: -0.39px;
  background-color: #daa12d;
}

.live-chatting-box {
  padding: 9px 8px;
}

.live-chatting-link {
  border-radius: 7px;
  border: solid 1px #323232;
  background-color: #1c1c1c;
  box-sizing:border-box;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  display: block;   

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.live-chatting-list-wrap {
  padding: 17px;
  overflow: hidden;
  overflow-y: auto;
  height: 307px;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;  
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #707070;
    border-radius: 100px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #f3f3f3;
    border-radius: 100px;
  }
}

.live-chatting-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.live-chatting-item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.chatting-user-name {
  font-size: 12px;
  color: #fff;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: normal;
  display: block;
  margin-bottom: 2px;
}

.chatting-content-box {
  position: relative;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #363636;

  &::after {
    content:""; 
    position: absolute; 
    top: 7px; 
    left: -12px;
    border-left: 15px solid #363636; 
    border-top: 0px solid transparent; 
    border-bottom: 17px solid transparent;
    transform: rotate(-270deg);
  }
}

.chatting-content-text {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  letter-spacing: normal;
  display: block;
  word-break: break-all;
}

.chatting-time {
  margin-left: 8px;
  display: block;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  line-height: 1.44;
  letter-spacing: normal;
}

.chatting-flex-box {
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
}

.live-chatting-input-box {
  width: 100%;
  border-top: solid 1px #2e2e2e;
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.chatting-export-btn {
  background-color: #daa12d;
  border-radius: 10px;
  padding: 8px 14px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: 0;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }
}

.chatting-input {
  border: 0;
  display: block;
  background-color: transparent;
  flex: 1;
  padding-left: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;

  &:active, &:focus {
    outline: none;
  }
}

.advertisement-video {
  width: 100%;
  margin-top: 18px;
  height: 158px;
  position: relative;
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  line-height: 158px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.new-board-tab-wrap, .news-board-tab-wrap {
  padding: 20px 22px 29px;
  background-color: #1c1c1c;
  position: relative;
  margin-top: 18px;
}

.new-board-tab-list, .news-board-tab-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.new-board-tab-item, .news-board-tab-item {
  flex: 1 1 50%;
  position: relative;
  padding: 0 12px 20px;
  font-size: 13px;
  color: #fff;
  line-height: 1.46;
  letter-spacing: -0.39px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;

  &.active {
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #daa12d;
    }
  }
}

.new-board-tab, .news-board-tab {
  display: none;
  padding: 27px 0 0;
  overflow: hidden;
  overflow-y: auto;

  &.on {
    display: block;
  }
}

.board-list {
  margin: 0;
  padding: 0;
  list-style: none ;
}

.board-link {
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 13px;

  &::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}

.board-item-title {
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0;
}

.board-item-date {
  display: block;
  font-size: 11px;
  font-weight: 500;
  color: #848484;
  line-height: 1.55;
  letter-spacing: -0.33px;
}

.board-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.telegram-id-box {
  display: flex;
  margin-top: 18px;
  align-items: center;
  padding: 9px;
  border-radius: 100px;
  background-color: #1c1c1c;
  width: 100%;
  border: 0;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }

  img {
    width: 41px;
    object-fit: cover;
  }
}

.telegram-id-text {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  line-height: 1.47;
  letter-spacing: normal;
  display: block;
  width: 100%;
  text-align: center;
}

.advertisement-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advertisement-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advertisement-link {
  display: block;
  width: 100%;
  height: 62px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news-board-tab-item {
  color: #fff;
  opacity: 0.3;

  &.active {
    color: #d5ac09;
    opacity: 1;
  }
}

.news-board-title {
  display: block;
  margin: 0;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  font-size: 12px;
  color: #fff;
  font-weight: 800;
}

.news-board-tab {
  padding-top: 14px;

  .board-item {
    border-bottom: 1px solid #d5ac09;
    margin: 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  .board-link {
    padding: 0;

    &::before {
      display: none;
    }
  }
}

.news-board-tab-wrap {
  padding-bottom: 12px;
}

.payment-list-wrap {
  margin-top: 17px;
  background-color: #1c1c1c;
  position: relative;
}

.payment-list-head {
  width:100%;
  display: block;
  padding: 10px 24px;
  background-color: #daa12d;
  font-size: 13px;
  color: #fff;
  line-height: 1.46;
  letter-spacing: -0.39px;
  font-weight: 800;
}

.payment-list-box {
  padding: 17px 21px;
  position: relative;

  &::after {
    content: '';
    display: block;
    left: 0;
    right: 0;
    margin: 0 20px;
    height: 1px;
    background-color: #5a5a5a;
    position: absolute;
    bottom: -5px;
  }
}

.payment-list  {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 130px;
  overflow: hidden;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #707070;
    border-radius: 100px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #f3f3f3;
    border-radius: 100px;
  }
}

.payment-item {
  padding: 4px 3px;
  display: flex;
  align-items: center;

  > img {
    width: 51px;
    min-width: 51px;
    height: 51px;
    border-radius: 7px;
    overflow: hidden;
    object-fit: cover;
  }
}

.payment-item-info {
  padding-left: 16px;
  overflow: hidden;
}

.payment-item-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: -0.36px;
  font-weight: 800;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.payment-item-price {
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: -0.36px;
  font-weight: 800;
}

.total-payment-box {
  padding: 15px 30px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-payment-text {
  font-size: 13px;    
  font-weight: 800;
  color: #fff;
  line-height: 1.46;
  letter-spacing: -0.39px;
  display: block;
}

.total-payment-price {
  font-size: 20px;
  font-weight: 800;
  color: #ffba2e;
  line-height: 1.45;
  letter-spacing: -0.6px;
  display: block;
}

.total-payment-btn {
  border-radius: 7px;
  background-color: #666;
  display: block;
  border: 0;
  width: 100%;
  text-align: center;
  padding: 10px 10px 9px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.16px;
  cursor: pointer;

  &.active {
    background-color: #ffba2e;
  }

  &:active, &:focus {
    outline: none;
  }
}

.live-chatting-text-box {
  margin-top: 18px;
  width: 100%;
  border-radius: 100px;
  padding: 17px;
  text-align: center;
  background-color: #1c1c1c;
  border: 0;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }

}

.live-chatting-text-item {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.16px;
}

.theme-content-flex-wrap {
  display: flex;
  align-items: flex-start;
  margin: 0 -48px;
}

.theme-content-col {
  padding: 0 24px;
}

.col-side {
  width: 351px;
}

.col-center {
  width: 1088px;
}

.payment-delete-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: 17px;

  > img {
    width: 15px;
    height: 15px;
    object-fit: cover;
  }

  &:active, &:focus {
    outline: none;
  }
}

.total-payment-btn-box {
  padding: 0 20px 16px;
}

.main-visual-banner-bottom {
  .swiper-slide {
    width: auto;
    cursor: pointer;

    &.swiper-slide-thumb-active {
      border: 1px solid red;
      box-sizing: border-box;
    }
    
    img {
      width: 58px;
      height: 43px;
      object-fit: cover;
    }
  }
}

.main-visual-slide-top-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  padding: 30px 30px 16px;
}

.main-visual-slide-top-inner-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.main-visual-slide-top-right {
  font-size: 13px;
  font-weight: 500;
  color: #aeaeae;
}

.main-visual-sub-info-list {
  font-size: 14px;
  color: #aeaeae;
  font-weight: 500;
  margin-bottom: 7px;
}

.main-visual-sub-label {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ffba2e;
  padding: 3px 6px 2px;
  color: #ffba2e;
  width: fit-content;
}

.information-inner-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 20px;
}

.information-inner-box-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 9px;
  background-color: #f8f8f8;
  border-top: 1px solid #aeaeae;
}

.information-left-list {
  list-style: none;
  margin: 0 -5px;
  padding: 0;
  display: flex;
  align-items: center;
}

.information-left-item {

  img {
    width: 18px;
    height: 18px;
    object-fit: cover;
    margin-right: 8px;
  }
}

.information-left-text {
  font-size: 14px;
  color: #1c1c1c;
  font-weight: 600;
  margin-top: 3px;
}

.main-visual-bottom-information-box {
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.information-right--text {
  font-size: 13px;
  color: #aeaeae;
  font-weight: 500;
  margin-right: 10px;
  white-space: nowrap;
}

.information-right {
  display: flex;
  align-items: center;
}

.total-price-text {
  font-size: 16px;
  color: red;
  font-weight: 800;
  margin: 0 13px 0 0 ;
  white-space: nowrap;
  
}

.btn-service-application {
  width: 100%;
  max-width: 185px;
  border-radius: 100px;
  padding: 13px 48px 12px;
  text-align: center;
  color: #fff;
  font-weight: 800;
  background-color: red;
  border: 0;
  white-space: nowrap;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }
}

.information-btn-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 -2px;
  list-style: none;

  &.right {
    .information-btn {
      padding: 5px 34px 3px;
    }
  }
}

.information-btn-item {
  padding: 0 2px;
}

.information-btn {
  border: 1px solid #aeaeae;
  background-color: #fff;
  padding: 5px 6px 3px;
  text-align: center;
  font-size: 13px;
  color: #1c1c1c;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }
}

.information-left-item-btn {
  padding: 0 5px;
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  &:active, &:focus {
    outline: none;
  }
}