#skipNavi {
  display: none;
}

#wrap {
  position: relative;
}

/* header */
#header {
  position: relative;
  width: 1920px;
}

.header_inner1,
.header_inner2 {
  width: 1320px;
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 17px 15px;
}

.header_inner1::after {
  content: "";
  display: block;
  position: absolute;
  width: 1920px;
  left: -300px;
  bottom: 0;
  height: 2px;
  background-color: #ff8a3d;
}

.srch_input {
  width: 480px;
  border-radius: 100px;
  background-color: #f2f3f6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 8px;
  box-sizing: border-box;
  left: -57px;
}

.srch_input input {
  flex: 1;
  border: 0;
  background-color: transparent;
  /* height: 100%; */
  color: black;
  font-size: 15px;
  font-weight: 400;
  text-indent: 14px;
}

.srch_input input:focus,
.srch_input input:active {
  outline: none;
}

.srch_input input::placeholder {
  color: #777;
}

.bg-SEARCH {
  width: 34px;
  height: 34px;
  display: block;
  background-color: #fff;
  border-radius: 100px;
  position: relative;
}

.bg-SEARCH::after {
  content: "";
  display: block;
  background: url("../img/css_sprites.png") -54px -117px;
  position: absolute;
  top: 15px;
  left: 18px;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 18px;
  height: 18px;
}

.btn_chat {
  background-color: #ff8a3d;
  border-radius: 100px;
  padding: 17px 24px 16px;
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

#nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

#nav ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  display: block;
}

#nav ul li a:hover {
  color: #777;
}

.topMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topMenu a {
  font-size: 15px;
  font-weight: 500;
  color: #777;
}

.topMenu a:hover {
  color: #333;
}

/* 중고거래 카테고리 */
.category_menu {
  position: relative;
}

.category_title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.category_title::before {
  content: "";
  display: block;
  background: url("../img/css_sprites.png") -10px -117px;
  width: 24px;
  height: 24px;
}

.category_title.on::before {
  background-image: url("../img/arrow_left.png");
  background-position: center;
  background-repeat: no-repeat;
}

.menu_wrap {
  position: absolute;
  left: -40px;
  top: 38px;
  width: 430px;
  box-sizing: border-box;
  z-index: 10;
  background-color: #fff;
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  padding: 0 40px;
}

.menu_wrap.on {
  transition: all 0.4s ease-in-out;
  height: 1013px;
  padding: 0 40px 20px;
}

.menu_title {
  position: relative;
}

.menu_title a {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #d9d9d9;
  padding: 10px 17px 10px;
  font-size: 15px;
  font-weight: 600;
}

.title_top a {
  border-top: 4px solid #d9d9d9;
}

.menu_title a img {
  margin-left: auto;
  width: 20px;
  height: 20px;
  object-fit: none;
  object-position: -8px -8px;
}

.title_top a::before,
.title_life a::before,
.title_digital a::before,
.title_fathion a::before,
.title_beauty a::before,
.title_pet a::before,
.title_car a::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
}

.title_top a {
  border-top-width: 4px;
}

.title_life a,
.title_pet a {
  border-top: 0;
}

.title_top a::before {
  background: url("../img/css_sprites_accordion.png") -10px -10px;
}

.title_life a::before {
  background: url("../img/css_sprites_accordion.png") -54px -10px;
}

.title_digital a::before {
  background: url("../img/css_sprites_accordion.png") -10px -54px;
}

.title_fathion a::before {
  background: url("../img/css_sprites_accordion.png") -54px -54px;
}

.title_beauty a::before {
  margin-left: 5px;
  background: url("../img/css_sprites_accordion.png") -140px -10px;
}

.title_pet a::before {
  background: url("../img/css_sprites_accordion.png") -98px -51px;
}

.title_car a::before {
  background: url("../img/css_sprites_accordion.png") -98px -10px;
}

.cont_life,
.cont_digital,
.cont_fashion,
.cont_pet,
.cont_car {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  padding: 20px;
  border-bottom: 2px solid #d9d9d9;
}

.slide_menu {
  transition: all 0.3s ease-in-out;
}

.slide_menu.active {
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease-in-out;
}

.menu_p {
  display: grid;
  gap: 18px;
}

.menu_p a {
  font-size: 15px;
  font-weight: 400;
  color: #191919;
  display: block;
}

.cont_car {
  border-bottom: 4px solid #d9d9d9;
}

.menu_title.active a img {
  object-position: -8px -28px;
}

/* 배너 section */
#banner {
  width: 100vw;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  height: 1010px;
}

.banner_frame {
  width: fit-content;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.banner_frame section {
  width: 1920px;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background-position: center;
}

.banner_frame section:nth-child(1) {
  background-image: url(../img/main_image_01.png);
  /* background-size: cover; */
  z-index: 4;
}

.banner_frame section:nth-child(2) {
  background-image: url(../img/main_image_02.png);
  /* background-size: cover; */
  z-index: 3;
}

.banner_frame section:nth-child(3) {
  background-image: url(../img/main_image_03.png);
  /* background-size: cover; */
  z-index: 2;
}

.banner_frame section:nth-child(4) {
  background-image: url(../img/main_image_04.png);
  /* background-size: cover; */
  z-index: 1;
}

.banner_item > div {
  position: absolute;
  bottom: 110px;
  left: 176px;
  text-align: left;
}

.banner_item h3 {
  font-size: 64px;
  font-weight: 600;
  color: #fff;
  font-family: "Inter", sans-serif !important;
  margin-bottom: 15px;
  display: block;
}

.banner_item ul li {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.download {
  margin-top: 67px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 18px;
  width: fit-content;
}

.app_store {
  display: flex;
  align-items: center;
  gap: 17px;
}

.app_store a {
  background-color: #fff;
  border-radius: 100px;
  display: block;
  padding: 13px 26px;
  box-sizing: border-box;
}

.app_store a img {
  width: 180px;
  display: block;
}

.banner_item:nth-child(even) ul li,
.banner_item:nth-child(even) h3 {
  color: #191919;
}

.banner_item:nth-child(even) .download {
  color: #191919;
}

/*  좌우버튼 */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prev::after,
.next::after {
  display: block;
  content: "";
  width: 62px;
  height: 62px;
}

.prev {
  left: 20px;
  background: url("../img/btn_arrow_mainimg.png") 0 0;
  background-size: cover;
}

.next {
  right: 20px;
  background: url("../img/btn_arrow_mainimg.png") 62px 0;
  background-size: cover;
}

/* 페이지네이션 */
.rolling {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 53px;
  z-index: 10;
}

.banner_roll a {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: #fff;
  display: block;
}

.banner_roll {
  display: flex;
  align-items: center;
  gap: 26px;
}

.banner_roll a.active {
  width: 67px;
  transition: all 0.2s ease-in-out;
}

.banner_roll.even a {
  background-color: #191919;
}

.banner_wrap {
  height: 100%;
  width: 1920px;
  overflow: hidden;
}
