.only-mobile {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  main {
    padding: 24px 16px;
    box-sizing: border-box;
  }

  .box {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.05);
    position: relative;
    padding: 17px 16px;
  }

  .car-status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    li {
      border-radius: 10px;
      border: 1px solid #E8E8E8;
      background-color: #F2F2F2;
      text-align: center;
      padding: 12px 10px 16px;

      img {
        width: 38px;
        margin: 17px auto 11px;
      }
    }
  }

  .status-category {
    font-size: 15px;
    font-weight: 500;
    color: #242427;
  }

  .status {
    font-size: 13px;
    font-weight: 700;
    color: #2EAC00;

    &.warning {
      color: #FD7723;
    }

    &.fire {
      color: #F44B3F;
    }
  }

  .car-sensor {
    position: relative;
    background: url(../images/normal-bg.svg) no-repeat center / contain;
    padding: 48px 0;

    &.warning {
      background: url(../images/warning-bg.svg) no-repeat center / contain;
    }

    &.fire {
      background: url(../images/fire-bg.svg) no-repeat center / contain;
    }

    img {
      width: clamp(220px, 50vw, 320px);
      max-width: clamp();
      margin: 0 auto;
      display: block;
      position: relative;
      z-index: 1;
    }

    .sensor-btns {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      z-index: 2;
      width: clamp(220px, 50vw, 320px);

      button {
        border-radius: 100px;
        width: clamp(23px, 3.5vw, 30px);
        aspect-ratio: 1/1;
        border: 1px solid #404040;
        background-color: #2EAC00;
        position: absolute;

        &.warning {
          background-color: #FD7723;
        }
        &.fire {
          background-color: #F44B3F;
        }

        &.front-1 {
          left: 20%;
          top: 31%;
        }
        &.front-2 {
          right: 20%;
          top: 31%;
        }
        &.center {
          left: 50%;
          transform: translateX(-50%);
          top: 50%;
        }
        &.back-1 {
          left: 20%;
          bottom: 25%;
        }
        &.back-2 {
          right: 20%;
          bottom: 25%;
        }
      }
    }
  }

  .title-area {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .title {
      font-size: 15px;
      font-weight: 500;
      color: #242427;
    }

    select {
      margin-left: auto;
      border-radius: 8px;
      border: 1px solid #D6D5E2;
      padding: 7px 37px 7px 15px;
      font-size: 13px;
      font-weight: 500;
      color: #5A5A5A;
      appearance: none;
      background: #F2F2F2 url(../images/icon-select.svg) no-repeat center right 13px;
      cursor: pointer;
    }
  }

  .parking-area {
    position: relative;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 17px 14px;
    box-sizing: border-box;
    min-height: 190px;
  }
}