
@font-face {
  font-family: 'THEmpgt';
  src: url("../fonts/THEmpgtM.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'THEmpgt';
  src: url("../fonts/THEmpgtM_U.otf") format("truetype");
  font-weight: 500;
  font-style: bold;
}

body {
  background-color: #1b1b1b;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

header .header-inner, footer .footer-inner {
  max-width: 1016px;
  margin: auto;
}
