 .logon-page-container {
     position: relative;
     height: 100%;
    padding: 0 15px;
     display: flex;
     flex-wrap: wrap;
     align-items: stretch;
     


     .logon-page-left-bg {
         flex: 1;
         background-color: #5843be;
         position: relative;
         display: none;

         img {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             width: 186px;
         }
     }

    .logon-page-right-box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logon-page-title {
        font-size: 24px;
        margin: 0;
        margin-bottom: 20px;
        font-weight: 600;
        letter-spacing: -0.88px;
        line-height: normal;
        color: #222224;
        text-align: center;
        

        img {
            width: 106px;
            height: auto;
            display: block;
            
            margin: 0 auto 10px;
        }

        span {
            color: #5843be;
        }



    }

    .logon-input-box {
        margin-top: 39px;

    }
 }

 .logon-input {
     width: 100%;
     max-width: 496px;
     background-color: #f6f7f8;
     border-radius: 8px;
    display: block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.48px;
    border :0;
    height: 42px;
    padding: 0 10px;

   margin: 0 auto 12px;

    &:last-child {
        margin-bottom: 0;
    }

    

    &::placeholder {
        color: #a5aab5;
        
    }
 }

 .logon-setting-box {
     margin-top: 15px;
     display: flex;
     align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .password-change-link {
     font-size: 10px;
     font-weight: 300;
     color: #787c84;
     letter-spacing: -0.4px;
    line-height: normal;
    text-decoration: underline;

    &:hover {
        color: #787c84;
        text-decoration: underline;
    }
 }

 .logon-keep-check[type="checkbox"]:checked + .logon-keep-check-custom {
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #222224;
    }
 }

 .logon-keep-check-custom {
    border: solid 1px #e7e7e9;
    border-radius: 4px;
    background-color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 4px;
 }

 .logon-keep-check-title {
     display: inline-block;
     vertical-align: middle;
     margin-left: 8px;
     font-size: 10px;
     font-weight: 300;
     color: #787c84;
     letter-spacing: -0.4px;
    line-height: normal;
 }

 .logon-submit-btn {
     margin-top: 22px;
     width: 100%;
     max-width: 496px;
     border-radius: 8px;
     background-color: #5843be;
     padding: 14px;
     text-align: center;
     font-size: 16px;
     font-weight: 500;
     color: #fff;
     letter-spacing: -0.64px;
    line-height: normal;
    cursor: pointer;
 }

 @media screen and (min-width:992px) {
    .logon-page-container {
        padding: 0;

        .logon-page-left-bg {
            display: block;
        }

        .logon-page-title {
            font-size: 24px;
            margin-bottom: 35px;
            text-align: center;

            img {
                display: none;
            }
        } 
    }

    .logon-input {
        max-width: 280px;
        padding: 0 20px;
        height: 56px;
        font-size: 16px;
    }

    .logon-keep-check-title {
        font-size: 12px;
        margin-left: 7px;
    }

    .password-change-link {
        font-size: 12px;
    }

    .logon-keep-check-custom {
        width: 20px;
        height: 20px;
        padding: 4px;
    }

    .logon-submit-btn {
        padding: 16px;
        font-size: 20px;
        border-radius: 8px;
        margin-top: 35px;
    }
 }