.eco {
  background-color: #fff;
}

.eco .inner {
  width: 100%;
  max-width: 1024px;
  padding: 51px 10px 68px;
  margin: 0 auto;
}

.eco .inner::after {
  display: none;
}

.eco .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
  line-height: 1.15;
  letter-spacing: -0.2px;
  color: #1dcd4e;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

.eco .title > img {
  width: 13px;
  height: 13px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.eco .title2 {
  margin: 51px 0 15px;
  display: block;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: -0.41px;
  color: #1e1e20;
}

.eco .explain {
  text-align: center;
  color: #3d3d3d;
  line-height: 1.43;
  letter-spacing: -0.21px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.eco .eco_img {
  position: relative;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 552px;
  background: url(../img/eco_bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  margin: 30px 0 0;
}

.eco .explain2 {
  word-break: keep-all;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.eco .for {
  margin: 40px 0 0;
  text-align: center;
  display: grid;
  gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  padding-bottom: 46px;
}

.eco .for img {
  width: 49px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto 17px;
}

.eco .text_box {
  display: grid;
  gap: 13px;
}

.eco .for_title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.51px;
  color: #3d3d3d;
}

.eco .link {
  border-radius: 100px;
  border: 1px solid #f0631c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 32px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.21px;
  color: #f0631c;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

@media screen and (min-width: 830px) {
  .eco .inner {
    padding: 98px 22px 115px;
  }
  .eco .title2 {
    font-size: 36px;
    letter-spacing: -0.54px;
    margin: 69px 0 21px;
  }
  .eco .explain {
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.3px;
  }
  .eco .explain2 {
    font-size: 60px;
    letter-spacing: -0.9px;
  }
  .eco .eco_img {
    width: 100%;
    left: auto;
    -webkit-transform: initial;
            transform: initial;
    margin-top: 53px;
  }
  .eco .for {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 36px;
    margin-top: 48px;
  }
  .eco .for img {
    margin: 0;
  }
  .eco .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .eco .text_box {
    gap: 0;
    text-align: left;
  }
  .eco .text_box p {
    font-size: 14px;
    margin: 0;
    text-align: left;
  }
  .eco .text_box p br {
    display: none;
  }
  .eco .for_title {
    margin: 0;
  }
}

/*# sourceMappingURL=section3.css.map */
