@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
.theme-main {
  position: relative;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.theme-main.index {
  overflow: hidden;
}

.theme-main::-webkit-scrollbar {
  display: none;
}

.theme-main video,
.theme-main img.thumbnail {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
}

.theme-main .text_box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 10;
}

.theme-main .text_box > img {
  width: 100%;
  max-width: 180px;
  margin: 0 auto 17px;
}

.theme-main .text_box.skip_box {
  top: auto;
  bottom: 70px;
}

.theme-main .description {
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 19px;
}

.theme-main .enter_btn {
  display: block;
  padding: 10px 24px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin: 0 auto;
  border-radius: 100px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}

.theme-main .sound {
  position: fixed;
  top: 24px;
  right: 10px;
  cursor: pointer;
  z-index: 11;
}

.theme-main .sound > img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.theme-main .drag_img {
  width: 80%;
  max-width: 375px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  border-radius: 20px;
}

.theme-main .drag_img img {
  width: 100%;
}

.theme-main .drag_img.none {
  display: none;
}

.theme-main audio {
  display: none;
}

.theme-main .logo {
  position: absolute;
  width: 140px;
  top: 15px;
  left: 15px;
}

@media screen and (min-width: 768px) {
  .theme-main {
    overflow: initial;
  }
  .theme-main .drag_img {
    display: none;
  }
  .theme-main video,
  .theme-main img.thumbnail {
    width: 100%;
    -o-object-position: center;
       object-position: center;
  }
  .theme-main .text_box > img {
    max-width: 480px;
    margin-bottom: 28px;
  }
  .theme-main .description {
    font-size: 22px;
  }
  .theme-main .enter_btn {
    margin-top: 77px;
    padding: 17px 47px;
    font-size: 18px;
  }
  .theme-main .logo {
    width: 180px;
    top: 20px;
    left: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  background-color: #fff;
  font-weight: 400;
  font-family: "Noto sans KR", sans-serif !important;
  height: 100%;
  scroll-behavior: smooth;
}

html::after, html::before,
body::after,
body::before {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

button:focus, button:active {
  outline: none;
}

#container {
  -webkit-box-flex: 1;
      -ms-flex: auto 1;
          flex: auto 1;
}

/*# sourceMappingURL=theme.css.map */
