.container {
  padding: 50px 16px 60px;
  background-color: #EEEEEE;
  text-align: center;
  box-sizing: border-box;

  .title {
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }

  .sub_title {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  > img {
    display: block;
    width: 100%;
    margin: 60px auto;
    object-fit: cover;
    max-width: 1800px;
  }

  .using_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    li {
      display: grid;
      gap: 10px;
    }
  }

  .number {
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    color: #124EE4;
  }

  .category {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: #000000;
  }

  @media screen and (min-width:1024px) {
    padding: 100px 60px 130px;

    .title {
      font-size: 50px;
      font-weight: 700; 
      margin-bottom: 30px;
    }

    .sub_title {
      font-size: 18px;
    }

    > img {
      margin: 90px auto;
    }

    .using_list {
      gap: 95px;

      li {
        gap: 15px;
      }
    }

    .number {
      font-size: 40px;
    }

    .category {
      font-size: 20px;
    }
  }
}