.container {
  .inner {
    width: 100%;
    max-width: 1272px;
    margin: 0 auto;
    padding: 24px 16px 107px;
    box-sizing: border-box;

    .title {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      margin: 34px 0 40px;
    }

    .contents {
      border-radius: 16px;
      background-color: #FAFAFA;
      padding: 60px 22px 70px;
      display: flex;
      flex-direction: column;
      gap: 44px;
      box-sizing: border-box;
      width: 100%;
    }

    .text-box {
      .desc {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -1px;
        margin-bottom: 40px;
        display: block;

        > b {
          font-weight: 500;
        }

        p b {
          font-size: 24px;
        }
      }

      .contract-info {
        .subject {
          font-weight: 400;
          font-size: 16px;
          letter-spacing: -0.8px;
          display: block;
          margin-bottom: 10px;
        }

        .recruit {
          display: flex;
          flex-wrap: wrap;
          gap: 6px;
          p {
            border: 1px solid #005F73;
            border-radius: 100px;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 700;
            color: #005F73;
          }
        }

        .call {
          font-size: 24px;
        }

        .mail {
          font-size: 16px;
          font-weight: 700;
        }

        &.inquire {
          margin-top: 20px;
        }
        &.partner-mail {
          margin-top: 30px;
        }
      }
    }
  }

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    height: 100%;
    
    .inner {
      padding: 24px 16px 135px;
  
      .title {
        margin: 34px 0 100px;
        font-size: 45px;
      }
  
      .contents {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 102px;
        
        > img {
          max-width: 383px;
          aspect-ratio: 1/1;
        }
      }
  
      .text-box {
        .desc {
          line-height: 38px;
  
          > b {
            font-weight: 700;
            font-size: 24px;
          }
  
          p b {
            font-size: 32px;
          }
        }
  
        .flex-box {
          display: flex;
          flex-wrap: wrap;
          gap: 30px 74px;
          margin-top: 32px;
        }
  
        .contract-info {
          &.inquire,
          &.partner-mail {
            margin: 0;
          }
        }
      }
    }
  }
}
