.subpage-top-right-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-inner-content-wrap {
  padding-top: 55px;
}

.sub-inner-content-wrap .list-array-close-mark {
  background-image: url(../img/close-btn-gray.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-size: cover;
  display: block;
  position: absolute;
  right: 0;
  top: 0px;
}

.subpage-top-link {
  font-size: 16px;
  color: #787c84;
  letter-spacing: -0.32px;
  line-height: normal;
  margin-right: 9px;
  display: inline-block;
  border: 0;
}

.subpage-link-fix {
  color: #787c84;
  display: inline-block;
}

.top-right-icon {
  margin: 0 4px;
  width: 16px;
  height: 16px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.icon-edit {
  background-image: url(../img/icon-edit.svg);
}

.icon-clip {
  background-image: url(../img/icon-link.svg);
}

.subpage-head-box {
  margin-top: 30px;
  text-align: center;
}

.subpage-head-box img {
  width: 108px;
  height: auto;
  margin-bottom: 20px;
}

.subpage-search-box {
  width: 100%;
  max-width: 260px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e4e7f2;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subpage-search-box .icon-edit {
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.subpage-search-input {
  font-size: 24px;
  font-weight: 800;
  color: #222224;
  letter-spacing: -0.48px;
  line-height: normal;
  width: 100%;
  border: 0;
  text-align: center;
}

.subpage-search-input::-webkit-input-placeholder {
  color: #222224;
}

.subpage-search-input::-moz-placeholder {
  color: #222224;
}

.subpage-search-input:-ms-input-placeholder {
  color: #222224;
}

.subpage-search-input::-ms-input-placeholder {
  color: #222224;
}

.subpage-search-input::placeholder {
  color: #222224;
}

.post-change-btns {
  position: fixed;
  width: 100%;
  max-width: 338px;
  bottom: 20px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.post-change-btns .post-change-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 4px;
  margin: 0 6px;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
  line-height: normal;
  cursor: pointer;
}

.post-change-btns .post-change-btn.cancel {
  background-color: #a5aab5;
}

.post-change-btns .post-change-btn.save {
  background-color: #5843be;
}

.post-change-btns .post-change-btn.delete {
  background-color: #222;
}

.sub-page-top-pagination {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  padding: 15px;
  text-align: center;
  z-index: 99;
  border-bottom: 1px solid #e7e7e9;
}

.sub-page-top-pagination i {
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: 500;
}

.sub-page-top-pagination .top-pagination-title {
  font-size: 16px;
  font-weight: 300;
  color: #222224;
  letter-spacing: -0.32px;
  line-height: normal;
}

.share-page-top-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0;
}

.share-page-top-icon-box img {
  margin-left: 6px;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}

.share-page-top-icon-box .link-home {
  margin-right: 16px;
}

.share-page-top-icon-box a, .share-page-top-icon-box button {
  font-size: 12px;
  color: #787c84;
  letter-spacing: -0.24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .share-page-top-icon-box {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .share-page-top-icon-box .link-home {
    margin-right: 24px;
  }
  .share-page-top-icon-box a, .share-page-top-icon-box button {
    font-size: 16px;
  }
  .subpage-top-right-box {
    margin: 17px 0 0;
    margin-left: auto;
  }
  .subpage-head-box {
    margin-top: 20px;
  }
  .subpage-head-box img {
    width: 160px;
    height: auto;
    margin-bottom: 28px;
  }
  .subpage-search-box {
    padding-bottom: 19px;
  }
  .subpage-search-input {
    font-size: 48px;
  }
  .subpage-search-box {
    max-width: 470px;
  }
  .subpage-search-box .icon-edit {
    width: 36px;
    height: 36px;
  }
  .macaron-main .list-array-top {
    margin-top: 40px;
  }
  .macaron-main .list-tab-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .post-change-btns {
    max-width: 828px;
  }
  .post-change-btns .post-change-btn {
    padding: 22px;
    font-size: 20px;
    margin: 0 12px;
    border-radius: 12px;
  }
  .sub-page-top-pagination {
    display: none;
  }
  .sub-inner-content-wrap {
    padding-top: 0;
  }
}

/*# sourceMappingURL=subPage.css.map */
