.dash_board {
  width: 100%;

  .section_gray {
    width: 100%;
    background-color: #F9F9F9;
    padding: 78px 28px 37px;
    box-sizing: border-box;

    &.programs {
      padding: 25px 28px 82px; 
    }
  }


  
  .dash_board_inner{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
  }

  .box {
    border-radius: 20px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.16);
    box-sizing: border-box;
    margin: 0 0 20px;
    position: relative;
    padding: 27px 32px;
    background-color: #fff;

    &:last-child {
      margin: 0;
    }

    &.grades {
      > img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    color: #2B3140;
    margin: 0 0 20px;
  }

  .more_link {
    position: absolute;
    top: 34px;
    right: 31px;
    width: 16px;
    height: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .bar_graph {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 23px;

    &:last-child {
      margin: 0;
    }

    &.slim {
      margin: 0 0 17px;

      .bar_bg {
        height: 5px;
      }
    }
  }

  .category_title {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color:#333333;
    margin: 0 0 5px;
    opacity: 0.6;
  }

  .bar_bg {
    position: relative;
    background-color: #EBEBEB;
    border-radius: 100px;
    overflow: hidden;
    height: 11px;
    width: calc(100% - 40px);
    
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border-radius: 100px;
      background-color: #EF2828;
      transition: all .2s ease-in-out;

      &.yellow {
        background-color: #FFB100;
      }

      &.blue {
        background-color: #3CB9E7;
      }

      &.purple {
        background-color: #B23CE7;
      }
    }
  }

  .parcent {
    margin-left: auto;
    font-size: 14px;
    font-weight: 500;
    color: #A6AAB3;
  }

  .certificate {
    overflow-y: auto;
  }

  .certificate_list {
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 17px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .certificate_title {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    opacity: 0.6;
    flex: 1;
  }

  .hold {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: #EEEEEE;

    &.active {
      background-color: #6142FF;
    }
  }

  .company_list {
    margin: 0 -30px 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    a {
      padding: 0 30px;
      position: relative;
      flex: 0 0 50%;
      text-align: center;
      cursor: pointer;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        height: 40px;
        width: 1px;
        background-color: #D6D5D5;
        right: 0;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      img {
        width: 100%;
        max-width: 147px;
        object-fit: cover;
      }
    }
  }

  .content_box {
    margin: 0 0 46px;

    img {
      width: 100%;
      object-fit: cover;
    }

    &:last-child {
      margin: 0;
    }
  }

  .content_inner {
    display: none;

    &.on {
      display: block;
    }
  }

  //section 2
  .section_white {
    background-color: #fff;
    padding: 26px 28px;
  }

  .notice_board {
    box-sizing: border-box;
    flex: 1;

    .head {
      position: relative;
      padding-bottom: 13px;
      border-bottom: 1px solid #D6D5D5;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 30px;
        font-weight: 700;
        color: #2B3140;
        margin: 0;
      }
    }
  }

  .board_content {
    padding: 30px 0 ;
    border-bottom: 1px solid #D6D5D5;

    &:last-child {
      border-bottom: 0;
    }
  }

  .category_label {
    padding: 3px 12px;
    background-color: #EF9628;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
    width: fit-content;
  }

  .notice_title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 65px;
    margin-bottom: 22px;
  }

  .notice_content {
    font-size: 16px;
    font-weight: 300;
    color: #6E6E6E;
    margin-bottom: 17px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 48px;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > p {
      color: #6E6E6E;
      font-size: 14px;
      font-weight: 300;
      margin: 0;
    }
  }

  .swiper_navi {
    display: none;
  }

  .swiper-pagination {
    position: relative;
    margin: 0 -15px;
    margin-left: auto;
    width: fit-content !important;
    bottom: initial !important;
  }

  .swiper-pagination-bullet {
    padding: 0 15px;
    width: auto;
    height: auto;
    color: #BEBEBE;
    background-color: transparent;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
    margin: 0 !important;
    cursor: pointer;
    position: relative;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 15px;
      background-color: #707070;
      top: 6px;
      right: 0;
    }
  }

  .swiper-pagination-bullet-active {
    color: #3B3B3B;
  }

  .student {
    width: 25px;
    height: 21px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .left {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
    border-radius: 20px;
    position: relative;

    &::after {
      content: "";
      display: block;
      background-image: url(../img/dashBoard/icon_bottom.svg);
      position: absolute;
      right: 28px;
      bottom: -1px;
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 15px;
      height: 7px;
      z-index: 1;
    }

    > div {
      flex: 0 0 50%;
      width: 50%;
      box-sizing: border-box;
    }
  }

  .data {
    text-align: center;
    > p {
      color: #B9B9B9;
      font-size: 11px;
      font-weight: 700;
      display: block;
    }

    > h3 {
      margin: 11px 0;
      font-size: 77px;
      font-weight: 700;
      color: #2B3140;
    }
  }

  .right {
    margin-top: 35px;
  }

  .schedule_list {
    li {
      display: flex;
      align-items: flex-start;
      margin: 0 0 22px;

      &:last-child {
        margin: 0;
      }

      > span {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        flex: 0 0 30%;
        
        img {
          width: 20px;
          height: 20px;
          margin-right:10px;
        }
      }
    }
  }

  .schedule_content {
    padding-left: 46px;
    font-size: 16px;
    font-weight: 400;
    color: #4B4B4B;
  }

  .data_content_box {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    > p {
      font-size: 16px;
      font-weight: 400;
      color: #4B4B4B;
      margin: 0;
      max-height: 44px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
    }
  }

  .data_label {
    padding: 2px 6px;
    background-color: #2B3140;
    font-size: 14px;
    font-weight: 600;
    width: fit-content;
    display: block;
    margin-bottom: 4px;
    color: #fff;
  }
  
  .mobile_head {
    .title {
      font-size: 30px;
      font-weight: 700;
      color: #2B3140;
      margin: 0 0 19px;
    }
  }

  .programs_list {
    margin: 0 -30px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2B3140;
    
    > li {
      padding: 0 24px;
      text-align: center;
      position: relative;

      &:last-child {
        &::after {
          display: none;
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 15px;
        background-color: #fff;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      a {
        padding: 17px 0;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        display: block;

        &.on {
          color: #EF9628;
          font-weight: 700;
        }
      }
    }
  }

  .programs_slide {
    overflow: initial;

    .swiper-wrapper {
      align-items: stretch;
    }

    .slide_wrap {
      border-radius: 20px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
      background-color: #fff;
      padding: 28px 30px;
      height: auto;

      >h3, p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .info {
      margin: 35px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > p {
        font-size: 14px;
        color: #4B4B4B;
        font-weight: 700;

        &:first-child {
          font-weight: 500;
        }
      }
    }

    .swiper-pagination {
      margin: 0 -7px;
      position: absolute;
      bottom: 0px !important;
      width: 100% !important;

      > span {
        width: 10px;
        height: 10px;
        border-radius: 100px;
        background-color: #DBDBDB;
        opacity: 1;
        margin: 0 7px !important;
        padding: 0;

        &.swiper-pagination-bullet-active {
          background-color: #2A3140;
        }

        &::after {
          display: none;
        }
        
      }
    }
  }

  .programs_label {
    padding: 2px 13px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: #222;
    width: fit-content;
    display: block;
    margin: 0 0 10px;
  }

  .programs_title {
    font-weight: 700;
    font-size: 24px;
    color: #2B3140;
    margin: 0 0 8px;
    max-height: 65px;
  }

  .programs_content_text {
    font-size: 14px;
    font-weight: 300;
    color: #6E6E6E;
    max-height: 38px;
    margin: 0;
  }

  .programs_slide {
    display: none;

    &.on {
      display: block;
    }
  }

  .pc_head {
    display: none;
  }
 
  @media screen and (min-width:992px) {
    .section_gray {
      padding: 70px 15px 55px;
    }

    .dash_board_inner  {
      justify-content: space-between;
    }

    .box {
      margin: 0 ;
      padding: 27px 30px;
      flex:0 0 32%;

      &:last-child {
        flex: 1;
        margin: 35px 0 0;
      }
    }

    .content {
      display: flex;
      align-items: flex-start;
    }

    .content_inner {
      padding-left: 14px;
      &.on {
        display: flex;
        align-items: stretch;
      }
    }

    .company_list {
      display: block;
      margin: 0;
      flex:0 0 17%;

      a {
        padding: 0 0 20px;
        margin: 0 0 20px;
        flex:initial;
        text-align: initial;
        display: block;

        &:after {
          height: 1px;
          width: 100%;
          top: initial;
          bottom: -22px;
          position: relative;
        }
      }
    }

    .content_box {
      padding: 0 40px;
      margin: 0;
      position: relative;
      
      &:before {
        content: "";
        position: absolute;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #D6D5D5;
        left: 0;
      }

      &.language {
        flex: 0 0 25%;
      }

      &.grades_graph {
        flex:0 0 50%;
      }

      &.certificate  {
        flex: 0 0 25%;
        padding-right: 0;
      }
    }

    .twice_board {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 0 auto;
      max-width: 1300px;
    }

    .notice_board {
      flex: 0 0 50%;
      width: 50%;
      padding: 0 25px;
    }

    .swiper-slide {
      padding: 0 50px;
    }

    .swiper_navi {
      display: block;

      > div {
        width: 13px;
        height: 25px;

        &::after {
          font-size: 25px;
          color: #C7C7C7;
          font-weight: 300;
        }
      }
    }

    .section_white {
      padding: 45px 15px;
    }

    .schedule_wrap {
      display: flex;
      align-items: flex-start;
    }

    .left {
      display: block;
      flex: 0 0 200px;
      padding: 35px 20px 26px;

      > div {
        flex: 1;
        width: 100%;
      }
    }

    .right {
      margin: 0;
      padding-left: 39px;
      flex: 1;
    }

    .schedule_content {
      padding-left: 18px;
    }

    .schedule_list {
      li {
        > span {
          flex: 0 0 110px;
        }
      }
    }

    .programs_slide  {
      overflow: hidden;
      padding: 10px;
      .swiper-wrapper {
        margin: 0 0 10px;
        flex-direction: initial !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
      }

      .swiper-slide { 
        box-sizing: border-box;
        height: auto;
        margin: 0 0 30px;
        padding: 0;
        margin-top: 0 !important;
      }
      
      .slide_wrap {
        height: 100%;
      }
    }

    .pc_head {
      display: block;
      position: relative;

      img {
        width: 100%;
      }

      .programs_list {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        background-color: transparent;

        > li {
          a {
            padding: 0;
          }
        }
      }
    }

    .programs_content {
      margin: 29px 0 0 ;
    }

    .mobile_head {
      display: none;
    }
  }
}