.theme-footer {
  background-color: #2A3140;
  width: 100%;

  .content_layout {
    padding: 58px 47px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info {
    order: 2;
  }

  .logo_info {
    order: 1;
    > img {
      width: calc(100vw * 192 / 375);
      display: block;
      margin: 0 auto 69px;
      max-width: 332px;
    }
  }

  .partner_site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;
  }

  .sns_list {
    display: flex;
    align-items: center;
    margin: 0 -6px;

    > li {
      padding: 0 6px;

      img {
        width: 28px;
        height: 28px;
        object-fit: cover;
      }
    }
  }

  .connect_site_select {
    border: 1px solid #fff;
    box-sizing: border-box;
    background-color: transparent;
    padding: 7px 10px;
    margin-left: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    appearance:none;
    padding-right: 25px;
    flex: 1;
    max-width: 144px;
    background: url(../img/footer/select_arrow.svg) no-repeat right 9px center;
  }

  .menu_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -5px;
    flex-wrap: wrap;

    > li {
      padding: 0 5px;
      box-sizing: border-box;
    }

    &.pc_show {
      display: none;
    }

    &.mobile_show {
      display: flex;
      margin: 0 0 41px;
    }
  }

  .menu_link {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
  }

  .company_info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    border-top: 1px solid #fff;

    > li {
      color: #fff;
      font-size: 10px;
    }
  }

  @media screen and (min-width:992px) {
    .content_layout {
      padding: 46px 58px 71px;
      flex-direction: row;
    }

    .logo_info {
      order: 2;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: column;

      > img {
        max-width: 192px;
        margin: 0 0 22px;
      }
    }

    .info  {
      order: 1;
    }

    .menu_list  {
      margin: 0 -15px 17px;

      &.mobile_show {
        display: none;
      }

      &.pc_show {
        display: flex;
        justify-content: flex-start;
      }

      > li {
        padding: 0 15px;
      }
    }

    .menu_link {
      font-size: 14px;
    }

    .company_info {
      padding-top: 17px;

      > li {
        font-size: 14px;
      }
    }

    .connect_site_select {
      margin-left: 18px;
      width: 144px;
      border-color: #4E4E4E;
      color: #696969;
      background: url(..//img/footer/select_arrow_off.svg) no-repeat right 9px center;
    }
  }
}