.guide_line {
  padding: 50px 26px;
  text-align: center;

  .title {
    font-size: 36px;
    font-weight: 700;
    color: #FC8400;
    text-align: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 28px;
    max-width: 1250px;
    margin: 0 auto 35px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: -27px;
      right: -27px;
      height: 1px;
      bottom: 0;
      background-color: #dbdbdb;
    }
  }

  img {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto 36px;
  }

  .down {
    width: fit-content;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    background-color: #FC8400;
    font-size: 18px;
    font-weight: 700;
    padding: 9px 40px;
  }

  .guid_title {
    color: #2A3140;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
  }

  @media screen and (min-width:992px) {
    padding: 55px 15px 90px;

    .title {
      padding-top: 55px;
      margin-bottom: 48px;
      &::after {
        left: 0;
        right: 0;
      }
    }

    .guid_title {
      margin-bottom: 27px;
    }

    img {
      margin-bottom: 19px;
    }
  }
}