.theme-header {
    width: 100vw;
    position: relative;
    left: 50%; 
    transform: translateX(-50vw) translateZ(0);
    background-color: #fff;
    position: fixed;
    will-change: transform;  
    top: 0;
    // height: 55px;    
    z-index: 90;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);

    .pc-mode {
        display: none;
    }

    .head-logo-box {
        cursor: pointer;
        > img {
            width: 100%;
            max-width: 127px;
            display: block;
        }
    }

    .mobile-side-menu-wrap {
        display: block;
        line-height: normal;
    }

    .inner-header {
        width: 100%;
        max-width: 1280px;
        padding: 20px 29px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .menu-btn {
        width: 30px;
        height: 23px;
        background-image: url(../img/header/hamburger_btn.svg);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        background-position: center;
    }
}

//모바일일때 사이드 메뉴
.mobile-side-menu {
    &.open {
        .mobile-mode {
            right: 0;
        }        

        .mobile-side-dimmed {
            opacity: 1;
            transition: all .2s ease-in-out;
            visibility: visible;
        }
    }
}


.mobile-mode {
    right: -100%;
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    z-index: 99;
    transition: all .3s ease-in-out;
    position: fixed;
    // height: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mobile-side-dimmed {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 98;
    visibility: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    transition: all .2s ease-in-out;
}

.mobile-nav-close-btn {
    position: absolute;
    right: 27px;
    top: 36px;
    line-height: normal;
    width: 18px;
    height: 18px;
    z-index: 10;
}

.nav_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 29px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.15);

    img {
        cursor: pointer;
    }
}

.user_info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 50px 33px 27px;
    box-sizing: border-box;
    border-bottom: 2px solid #C3C3C3;

    .name {
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 4px;
        color: #707070;
    }
}

.info_list {
    display: flex;
    align-items: center;
    margin: 0 -15px;
    

    > span {
        padding: 0 15px;
        font-size: 14px;
        font-weight: 500;
        color: #4B4B4B;
        position: relative;
        
        &:first-child {
            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 13px;
                background-color: #707070;
                position: absolute;
                right: 0px;
                top: 5px;
            }
        }
    }
}

.notice {
    background-image: url(../img/header/icon_notice.svg);
    width: 11px;
    height: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logout {
    background-image: url(../img/header/icon_logout.svg);
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    bottom: -7px;
}

.mobile_nav_wrap {
    display: flex;
    align-items: stretch;
    flex: 1;

    .nav_list {
        background-color: #F5F5F5;
        border-right: 1px solid #D8D8D8;
        box-sizing: border-box;

        a {
            display: block;
            padding: 12px 30px 18px;
            color: #707070;
            font-size: 16px;
            font-weight: 700;
            border-bottom: 1px solid #D8D8D8;
            box-sizing: border-box;

            &.active {
                color: #EF7100;
                background-color: #fff;
            }
        }
    }
}

.two_depth_menu {
    padding: 21px 37px;
    flex: 1;
    display: none;

    &.on {
        display: block;
    }
}

.depth_menu_inner {
    margin: 0 0 30px;

    .menu_title {
        padding: 0 0 5px;
        color: #EF7100;
        font-size: 16px;
        font-weight: 700;
        display: block;
        border-bottom: 1px solid #707070;
        box-sizing: border-box;
        margin: 0 0 10px;
        text-align: left;
    }

    > a {
        font-size: 13px;
        color: #898A8B;
        display: block;
    }

    &:last-child {
        margin: 0;
    }
}

.pc_menu_list {
    display: flex;
    align-items: center;
    margin: 0 -40px;

    > li {
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        padding: 60px 40px 40px;
        color: #2B3140;
        position: relative;

        &:hover {
            color:#EF7100;
            &::after {
                display: block;
                content: "";
                position: absolute;
                width: 100%;
                height: 11px;
                left: 0;
                bottom: 0;
                z-index: 10;
                background-color: #EF7100;
            }
        }
    }
}

.slide_down_wrap {
    position: relative;
}

.slide_down {
    position: absolute;
    left: -40px;
    right: -40px;
    top: 130px;
    box-sizing: border-box;
    overflow: hidden;
    height:0;

    &::before {
        content: "";
        display: block;
        width: 100vw;
        position: fixed;
        left: 0;
        height: 0;
        top: 131px;
        background-color: #fff;
        z-index: -1;
        transition: all .2s ease-in-out;

    }

    &.on {
        height: fit-content;
        padding: 32px 0 44px;

        &::before {
            transition: all .2s ease-in-out;
            height: 280px;
        }
    }

   
}

.three_depth_menu_list {
    display: flex;
    align-items: flex-start;
    margin: 0 -40px;

    .menu_item {
        padding: 0 40px;
        font-size: 16px;
        color: #000;

        > b {
            display: block;
            margin: 0 0 7px;
        }

        a {
            display: block;
            color: #000;
            margin: 0 0 7px;
        }
    }
}

 
@media (min-width:992px) {
    .theme-header {
        height: auto;
        box-shadow: initial;
        border-bottom: 1px solid #dcdcdc;

        .head-logo-box {

            img {
                max-width: 214px;
            }

            .mobile-logo {
                display: none;
            }
    
            .pc-logo {
                display: block;
                width: 110px;
                height: auto;
            }   
        }

        .inner-header {
            padding: 0 15px;      
            justify-content: space-between;
        }

        .pc-mode {
            display: block; 
        }
    }

    .nav_head {
        .header_logo {
            max-width: 214px;
        }
    }

    .theme-nav {
        &.mobile-mode {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
        }
    }

}
