.my_page {
  .inner {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px 36px 72px;
  }

  .title {
    font-size: 36px;
    font-weight: 700;
    color: #FC8400;
    padding-bottom: 28px;
    margin-bottom: 41px;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 1px;
      left: -36px;
      right: -36px;
      background-color: #dbdbdb;
      position: absolute;
      bottom: 0;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    margin: 0 0 40px;

    img {
      width: 120px;
      height: 120px;
      border-radius: 100px;
      overflow: hidden;
      object-fit: cover;
    }
  }

  .info {
    padding-left: 41px;
    text-align: center;
    flex: 1;
  }

  .name {
    font-size: 24px;
    font-weight: 700;
    color: #4B4B4B;
    margin: 0 0 1px;
    display: block;
  }

  .spec {
    font-size: 18px;
    font-weight: 700;
    color: #808080;
  }

  .import_spec {
    margin: 16px auto 0;
    width: 100%;
    cursor: pointer;
    background-color: #FC8400;
    border-radius: 100px;
    padding: 11px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  .box_grades, .circle_grades {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border-bottom: 0;
  }

  .circle_grades {
    order: 2;
    margin: 0 0 35px;
  }

  .box_grades {
    order: 3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 44px;

    img {
      flex: 0 0 33.33%;
      width: 33.333%;
    }
  }

  .tab_menu {
    overflow-x: auto;
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50vw);
    margin: 0 0 24px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
  }

  .tab_menu_list {
    display: flex;
    align-items: stretch;

    li {
      border-right: 1px solid #dbdbdb;

      &:first-child {
        border-left: 1px solid #dbdbdb;
      }

      &.active {
        a {
          background-color: #2A3140;
          color: #fff;
        }
      }
    }
  }

  .tab_menu_link {
    padding: 22px 39px;
    display: block;
    text-align: center;
    min-width: 145px;
    color: #2A3140;
    font-weight: 500;
    font-size: 18px;
    background-color: #fff;
  }

  .tab_section_content {
    display: none;

    &.on {
      display: block;
    }
  }

  .search_bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 44px;

    select, input {
      background-color: #fff;
      &:active, &:focus {
        outline: none;
      }
    }

    select {
      background-color: #fff;
      border: 1px solid #BEBEBE;
      cursor: pointer;
      padding: 8px 15px;
      display: block;
      font-size: 15px;
      color: #969696;
      font-weight: 400;
      appearance: none;
      background: url(../img/sub/icon_dropdown_color.svg) no-repeat right 10px center;
      margin-right: 13px;
      background-size: 11px 11px;
    }

    input {
      background-color: #F2F2F2;
      padding: 0 15px;
      height: 40px;
      font-size: 15px;
      font-weight: 400;
      margin-right: 13px;
      border: 0;
      box-sizing: border-box;
      width: 100%;

      &::placeholder {
        color: #969696;
      }
    }
  }

  .submit_btn {
    padding: 7px 14px;
    box-sizing: border-box;
    background-color: #FC8400;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
      object-fit: cover;
      display: block;  
    }
  }

  .user_subject {
    margin: 0 0 36px;
    font-size: 16px;
    color: #777777;
    font-weight: 400;
  }

  .img_sort {
    > div {
      margin: 0 0 46px;

      &:last-child {
        margin: 0;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .table_cell {
    margin: 72px 0 0 ;
    border-top: 2px solid #A2A2A2;
    width: 100vw;
    left: 50%;
    transform: translateX(-50vw);
    position: relative;
    overflow-x: auto;
  }

  .table_graph {
    thead {
      background-color: #F2F2F2;
      text-align: center;
      border-bottom: 1px solid #dbdbdb;

      th {
        border-right: 1px solid #DBDBDB;
        font-size: 15px;
        font-weight: 400;
        color: #000;
        padding: 16px 34px;

        &:last-child {
          border-right: 0;
        }
      }
    }

    tbody {
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      color: #000;

      tr {
        border-bottom: 1px solid #dbdbdb;
      }

      td {
        font-size: 15px;
        font-weight: 400;
        color: #000;
        padding: 16px 34px;
        white-space: nowrap;
        border-right: 1px solid #DBDBDB;
      }
    }
  }

  .subject_list_wrap {
    margin: 35px 0 0;

    .user_subject {
      margin: 0 0 36px;
      font-size: 24px;
      font-weight: 400;
      color: #777777;
    }
  }

  .subject_item_box {
    margin: 0 0 49px;

    &:last-child {
      margin: 0;
    }
  }

  .subject_item {
    margin: 0 0 30px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
    border-radius: 10px;
    padding: 22px 21px;

    &:last-child {
      margin: 0;
    }

    .label {
      background-color: #EF9628;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      width: fit-content;
      margin: 0 0 15px;
      padding: 1px 9px;
      display: block;

      &.navy {
        background-color: #2B3140;
      }
    }
  }

  .subject_name {
    text-align: center;
    margin:0 0 3px;
    font-size: 20px;
    font-weight: 700;
    color: #2B3140;
  }

  .subject_info {
    margin: 0 0 32px;
    font-size: 12px;
    font-weight: 700;
    color: #777777;
    text-align: center;
    display: block;
  }

  .grades_info {
    margin: 0 0 16px;

    &.flex_row {
      display: flex;
      align-items: center;
    }

    .left {
      flex: 0 0 40px;
      font-size: 14px;
      font-weight: 700;
      color: #000;
    }

    .get {
      flex: 0 0 54px;
    }

    .get_grades {
      flex: 1;
      text-align: center;
      color: #EF9628;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .bar {
    flex: 1;
    padding-left: 38px;
    position: relative;
    top: 7px;
  }

  .bar_thumb {
    width: 100%;
    border-radius: 100px;
    background-color: #F5F5F5;
    position: relative;
    height: 6px;
    overflow: hidden;
  }

  .bar_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    background-color: #EF9628;
    transition: all .2s ease-in-out;
  }

  .bar_number {
    display: flex;
    justify-content: space-between;
    span {
      color: #777777;
      font-size: 7px;
      font-weight: 400;
    }
  }

  .pass_title {
    margin: 62px 0 36px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #2A3140;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    left: 50%;
    transform: translateX(-50vw);
    position: relative;
  }
  
  .left_option {
    position: relative;
    width: fit-content;
    overflow-x: auto;
  }

  .option_btn_list {
    display: flex;
    justify-content: center;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;

    li {
      min-width: 170px;
      &.active {
        a {
          background-color: #2A3140;
        }
      }

      &:last-child {
        a {
          border-right: 0;
        }
      }
    }

    a {
      display: block;
      padding: 23px 60px;
      text-align: center;
      color: #fff;
      background-color: #fff;
      font-size: 16px;
      font-weight: 500;
      border-right: 1px solid #DBDBDB;
    }
  }

  .right_option {
    display: none;
  }

  .plus_option {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2B3140;
    background-color: #fff;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .spec_list {
    margin: 68px 0 0;
  }

  .left_spec {
    img {
      width: 100%;
      display: block;

      &.company_logo {
        max-width: 250px;
        margin: 0 auto 50px;
      }
    }
  }

  .help_text {
    margin: 29px 0 45px;
    font-size: 18px;
    font-weight: 500;
    color: #2B3140;
    display: block;
    text-align: center;
  }

  .bottom_text {
    display: none;
  }

  .spec_detail {
    border-radius: 10px;
    box-shadow: 0 4px 6px 2px rgba(0,0,0,0.06);
    background-color: #fff;
    padding: 26px 33px;
    margin: 0 0 39px;

    &:last-child {
      margin: 0;
    }
  }

  .spec_name {
    font-size: 20px;
    font-weight: 700;
    color: #2B3140;
    margin: 0 0 20px;
    display: block;
  }

  .spen_bar_graph {
    position: relative;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin:0 0 10px;

      &:last-child {
        margin: 0;
      }

      span, p {
        font-size: 15px;
        font-weight: 500;
        color: #333;
        margin: 0;
      }

      p {
        flex: 0 0 30px;
        &.text_blue {
          color: #118FCB;
        }

        &.my {
          color: #FC8400;
        }
      }

      span {
        flex: 0 0 50px;
        &.my {
          color: #FC8400;
        }
      }
    }
  }

  .spec_bar_thumb {
    flex: 1;
    height: 6px;
    background-color: #F5F5F5;
    border-radius: 100px;
    position: relative;
    margin: 0 20px;
  }

  .spec_bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all .2s ease-in-out;
    border-radius: 100px;
    background-color: #848484;

    &.blue {
      background-color: #118FCB;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 135px;
        width: 1px;
        border-right: 1px dashed #dbdbdb;
        right: 0;
        top: -50px;
        z-index: 5;
      }
    }

    &.my {
      background-color: #FC8400;
    }
  }

  .ing_announcement {
    padding: 34px 0 0 ;
    position: relative;
    margin-top: 55px;


    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100vw;
      left: 50%;
      transform: translateX(-50vw);
      background-color: #fff;
      height: 147%;
      top: 0;
    }

    .title {
      font-size: 24px;
      font-weight: 400;
      color: #777777;
      display: block;
      margin: 0 0 21px;
      text-align: left;
      padding: 0;

      &::after {
        display: none;
      }
    }
  }

  .adopt_list {
    overflow-x: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:35px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50vw);
    position: relative;
    padding: 10px 0;
  }

  .adopt_item {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
    box-sizing: border-box;
    padding: 22px 21px;
    background-color: #fff;
    width: 274px;
    position: relative;
    border-radius: 10px;

    &:first-child {
      margin-left: 36px;
    }
  }

  .left_date {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    display: block;
    width: fit-content;
    background-color: #EF9628;
    padding: 1px 9px;
  }

  .scrap {
    width: 22px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 21px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .adopt_title {
    margin: 15px 0 6px;    
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #2B3140;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
  }

  .range {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #777777;
  }

  .range2 {
    margin: 26px 0 0;
    font-size: 12px;
    font-weight: 700;
    color: #777777;
    text-align: center;
    display: block;
  }

  .gray_bg {
    position: relative;
    padding: 0  0 40px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100vw;
      left: 50%;
      transform: translateX(-50vw);
      background-color: #F9F9F9;
      z-index: -1;
      height: 120%;
      top: 0;
    }
  }

  .certificate_item {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
    box-sizing: border-box;
    padding: 22px 20px;
    background-color: #fff;
    margin: 0 0 23px;
    position: relative;

    &.plus {
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      
    }

    &:last-child {
      margin: 0;
    }

    .title {
      display: block;
      text-align: center;
      margin: 0 0 3px;
      font-weight: 700;
      font-size: 20px;
      color: #2B3140;
      padding: 0;
      
      &::after {
        display: none;
      }
    }
  }

  .from {
    font-size: 12px;
    font-weight: 700;
    color: #777777;
    display: block;
    text-align: center;
    margin: 0 0 27px;
  }

  .certificate_title {
    font-size: 24px;
    font-weight: 400;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 13px;

    p {
      display: none;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .certificate_category_label {
    width: fit-content;
    display: block;
    padding: 1px 10px;
    background-color: #EF9628;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 15px;
  }

  .certificate_info {
    li {
      display: flex;
      align-items: center;
      margin: 0 0 7px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .info_left {
    flex: 0 0 60px;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin-right: 13px;
    display: block;
  }

  .info_right {
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin: 0;

    &.bold {
      font-weight: 700;
    }
  }

  .certificate_wrap {
    margin: 0 0 55px;

    &:last-child {
      margin: 0;
    }
  }

  @media screen and (min-width:992px) {
    .inner {
      padding: 55px 15px;
    }

    .title {
      margin: 0 0 49px;

      &::after {
        left: 0;
        right: 0;
      }
    }

    .profile {
      flex-direction: column;
      flex: 0 0 216px;
      margin: 0;

      img {
        margin: 0 0 19px;
      }
    }

    .user_info {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      padding-bottom: 46px;
    }

    .circle_grades {
      order: 3;
      margin: 0;
      max-width: 334px;
    }

    .box_grades {
      order: 2;
      padding: 0 35px;
      margin: 0;
      max-width: 552px;

      img {
        width: 25%;
        flex: 0 0 25%;
      }
    }

    .info {
      padding-left: 0;
    }

    .name {
      margin: 0 0 11px;
    }

    .spec {
      margin: 0 0 15px;
    }

    .tab_menu {
      width: 100%;
      max-width: 1250px;
      left: auto;
      transform: initial;
      margin: 39px 0 ;
      border-right: 1px solid #dbdbdb;
    }

    .tab_menu_link {
      padding: 22px 56px;
    }

    .search_bar {
      margin: 0 0 30px;
      select {
        background-color: #fff;
        min-width: 120px;
        padding: 10px 19px;
        background-size: 15px 15px;
        margin-right: 17px;
      }

      input {
        margin-right: 17px;
        max-width: 305px;
      }
    }

    .user_subject {
      font-size: 24px;
      margin: 0 0 17px;
    }

    .img_sort {
      align-items: center;

      > div {
        margin: 0;
      }

      img {
        max-width: 405px;
        margin: 0 auto;
      }
    }

    .table_cell {
      margin: 47px 0 0 ;
      width: 100%;
      left: auto;
      transform: initial;
    }

    .subject_list_wrap {
      .user_subject{
        margin: 10px 0 13px;
      }
    }

    .subject_list  {
      display: grid;
      gap: 0 30px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .subject_item {
      &:last-child {
        margin: 0 0 30px;
      }
    }

    .pass_title {
      margin: 40px 0 18px;
    }

    .options  {
      justify-content: space-between;
      width: 100%;
      left: auto;
      transform: initial;
    }

    .right_option {
      display: flex;
      align-items: center;

      select {
        background-color: #fff;
        border: 1px solid #BEBEBE;
        appearance: none;
        background: url(../img/sub/icon_dropdown_color.svg) no-repeat right 10px center;
        padding: 8px 15px;
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
        color: #969696;
        margin-right: 8px;
        width: 100px;
      }

      input {
        width: 256px;
        background-color: #F2F2F2;
        padding: 0 13px;
        font-size: 13px;
        font-weight: 400;
        margin-right: 10px;
        height: 40px;
        border: 0;
        flex: 1;
      }

      button {
        cursor: pointer;
        background-color: #FC8400;
        padding: 5px 14px;
        img {
          width: 21px;
          height: 21px;
          object-fit: cover;
        }
      }
    }

    .spec_list {
      margin: 60px 0 0 ;
      >div.row {
        align-items: flex-start;
      }
    }

    .left_spec  {
      img {
        &.company_logo {
          margin: 0 auto 40px;
        }
      }
    }

    .help_text {
      margin: 29px 0 194px;
    }

    .bottom_text {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: #2B3140;
      opacity: 65%;
    }

    .ing_announcement {
      padding: 28px 0 0 ;
    }

    .adopt_list {
      width: 100%;
      left: auto;
      transform: initial;
      padding: 0;
      overflow-x: initial;
    }

    .adopt_item {
      margin: 0;

      &:first-child {
        margin: 0;
      }
    }

    .right_spec {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 39px;
      padding-left: 50px;
    }

    .spec_detail {
      height: fit-content;
      margin: 0;
      padding: 26px 33px;
    }

    .gray_bg {
      padding: 39px 0 80px;
    }

    .certificate_list {
      display: grid;
      gap: 35px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .certificate_item {
      margin: 0;

      &.plus {
        button {
          font-size: 40px;
          font-weight: 700;
          color: #E0E0E0;
          width: 100%;
          height: 100%;
        }
        display: flex;
      }
    }

    .certificate_title {
      p {
        display: block;
      }
    }
  }
}