.about {
  position: relative;
  .banner {
    padding: 0 16px;
  }

  .visual {
    width: 100%;
    position: relative;
    height: 440px;
    border-radius: 24px;
    overflow: hidden;
    text-align: center;
    background-image: url(../../assets/img/about/img-about-banner-mobile.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 32px 52px;
    word-break: keep-all;

    h3 {
      font-size: 32px;
      font-weight: 700;
      line-height: 49px;
      color: #fff;
      margin-bottom: 8px;
    }

    > p {
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #fff;
      opacity: 0.7;

      br {
        display: none;
      }
    }
  }

  .mission-box-wrap {
    margin-top: 12px;
  }

  .mission-boxs {
    border-radius: 16px;
    background-color: #097bf8;
    padding: 32px;
    box-sizing: border-box;

    &.mission {
      background-color: #6957d0;
      margin-top: 12px;
    }

    .box-title {
      margin-bottom: 16px;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 33px;
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        vertical-align: text-top;
        width: 44px;
        aspect-ratio: 1/1;
      }
    }

    .explain {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #fff;
    }
  }

  .inner-width {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .section-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    color: #2a2a2a;
    margin-bottom: 4px;
    text-align: center;
  }

  .section-sub-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #646464;
    text-align: center;
  }

  .values {
    padding: 56px 0;
    box-sizing: border-box;

    .values-list {
      margin-top: 32px;
      display: flex;
      align-items: stretch;
      padding-right: 16px;

      .swiper-wrapper {
        align-items: stretch;
        padding: 0 16px;
      }

      .value-item {
        border-radius: 16px;
        background: #fff;
        border: 1px solid #e3e3e3;
        box-sizing: border-box;
        background-color: #fff;
        position: relative;
        padding: 32px;
        height: auto;

        > img {
          width: 40px;
          margin-bottom: 12px;
          display: block;
        }
        > p {
          font-size: 16px;
          font-weight: 400;
          line-height: 25px;
          color: #646464;
          display: block;
          margin-top: 12px;
          word-break: keep-all;
        }
      }
    }

    .value-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #2a2a2a;
      display: block;
      p {
        font-size: 16px;
        font-weight: 400;
        color: #646464;
      }
    }
  }

  .reviews {
    background-color: #eff6ff;
    padding: 56px 16px;
    box-sizing: border-box;

    .reviews-list {
      margin-top: 32px;

      li {
        border-radius: 16px;
        padding: 32px;
        background-color: #fff;
        &:not(:first-child) {
          margin-top: 12px;
        }
      }

      .spoke {
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        color: #2a2a2a;
        margin-bottom: 24px;
        display: block;
        text-align: center;

        br {
          display: none;
        }
      }

      .users {
        border-top: 1px solid #e3e3e3;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .name {
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
          color: #2a2a2a;
        }
        .job {
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          color: #646464;

          img {
            width: 16px;
            vertical-align: middle;
            position: relative;
            top: -1px;
            margin: 0 2px;
          }
        }
      }

      .contents {
        margin-top: 24px;

        .review {
          padding: 24px;
          background-color: #f5f5f5;
          border-radius: 12px;
          &:not(:first-child) {
            margin-top: 8px;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            color: #2a2a2a;
            line-height: 25px;
          }
          .status {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            height: 28px;
            line-height: 23px;
            padding: 4px 12px;
            margin-bottom: 8px;
            border-radius: 100px;
            background-color: #646464;
            width: fit-content;
          }

          &.after {
            background-color: #f3f8ff;

            .status {
              background-color: #097bf8;
              color: #fff;
            }

            p {
              color: #097bf8;
            }
          }
        }
      }
    }
  }

  .differ {
    padding: 56px 0;
    box-sizing: border-box;

    .differ-list {
      margin-top: 32px;
      display: flex;
      align-items: stretch;
      gap: 16px;
      padding: 0 16px;

      .differ-item {
        border-radius: 16px;
        background-color: #fff;
        padding: 32px;
        border: 1px solid #e3e3e3;
        height: auto;

        .number {
          font-size: 32px;
          font-weight: 700;
          line-height: 44px;
          color: #097bf8;
          opacity: 0.4;
          display: block;
          margin-bottom: 4px;
        }

        .title {
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
          color: #2a2a2a;
          margin-bottom: 20px;
          display: block;
        }

        .subject {
          padding-top: 20px;
          border-top: 1px solid #e3e3e3;
          font-size: 16px;
          font-weight: 600;
          line-height: 25px;
          color: #2a2a2a;
          margin-bottom: 8px;
          display: block;
        }

        .content {
          font-size: 16px;
          font-weight: 400;
          line-height: 25px;
          color: #646464;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    .banner {
      background-image: url(../../assets/img/about/img-about-banner-pc.png);
      background-size: cover;
      background-position: center;
      border-radius: 40px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1800px;
      margin: 0 auto;
      min-height: 856px;

      .visual {
        height: inherit;
        border-radius: initial;
        background: none;
        display: block;
        text-align: left;
        width: 100%;
        max-width: 1280px;
        padding: 0;
        margin: 0 auto;

        h3 {
          font-size: 60px;
          line-height: 84px;
          margin-bottom: 24px;
        }

        > p {
          font-size: 24px;
          line-height: 33px;

          br {
            display: block;
          }
        }
      }
    }

    .mission-box-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      width: 100%;
      max-width: 1280px;
      margin: 80px auto 0;
    }

    .mission-boxs {
      border-radius: 24px;
      padding: 52px 56px 56px;

      &.mission {
        margin: 0;
      }

      .box-title {
        margin-bottom: 12px;
        font-size: 32px;
        line-height: 44px;
        gap: 24px;

        img {
          width: 64px;
        }
      }

      .explain {
        font-size: 20px;
        padding-left: 88px;
        line-height: 28px;
        position: relative;
        top: -5px;
      }
    }

    .section-title {
      font-size: 48px;
      font-weight: 700;
      line-height: 67px;
      margin-bottom: 12px;
    }

    .section-sub-title {
      font-size: 24px;
      line-height: 33px;
    }

    .values {
      padding: 120px 0;

      .values-list {
        margin-top: 82px;
        padding-left: 20%;
        padding-right: 24px;

        .swiper-wrapper {
          width: fit-content;
        }

        .value-item {
          width: 460px;
          border-radius: 24px;
          padding: 56px 56px 60px;

          > img {
            margin-bottom: 32px;
          }

          > p {
            margin-top: 20px;
          }
        }
      }

      .value-title {
        font-size: 24px;
        line-height: 33px;
      }
    }

    .reviews {
      padding: 120px 16px;

      .reviews-list {
        margin-top: 72px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        li {
          border-radius: 24px;
          padding: 48px;
          display: flex;
          flex-direction: column;
          &:not(:first-child) {
            margin: 0;
          }
        }

        .spoke {
          font-size: 24px;
          line-height: 33px;
          margin-bottom: 32px;

          br {
            display: block;
          }
        }

        .users {
          border: 1px solid #e3e3e3;
          border-radius: 12px;
          flex-direction: row;
          align-items: center;
          gap: 12px;
          padding: 20px 24px;

          .name {
            font-size: 24px;
            line-height: 33px;
          }

          .job {
            font-size: 16px;
            line-height: 22px;
          }
        }

        .contents {
          margin-top: 16px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 8px;
          flex: 1;

          .review {
            border-radius: 16px;
            &:not(:first-child) {
              margin: 0;
            }

            .status {
              font-size: 16px;
              line-height: 27px;
              height: 32px;
              margin-bottom: 12px;
            }
          }
        }
      }
    }

    .differ {
      padding: 120px 16px;

      .differ-list {
        margin-top: 72px;
        display: grid;
        overflow: initial;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        .differ-item {
          border-radius: 24px;
          padding: 40px;

          .number {
            margin-bottom: 8px;
          }

          .title {
            font-size: 24px;
            line-height: 33px;
            margin-bottom: 24px;
          }

          .subject {
            padding-top: 24px;
          }
        }
      }
    }
  }
}
