.theme-header {
  .mobile_head {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 10px 16px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

    .menu_btn {
      display: block;
      width: 24px;
      aspect-ratio: 1/1;

      > img {
        object-fit: cover;
        display: block;
        margin: 0 auto;
      }
    }

    .menu {
      position: fixed;
      top: 0px;
      width: 100vw;
      height: 100%;
      flex-direction: column;
      left: 50%;
      transform: translateX(-50vw);
      background-color: #fff;
      padding: 16px 16px 24px;
      display: none;
      z-index: 10;
      &.on {
        display: flex;
      }
    }

    .close_btn {
      position: absolute;
      top: 16px;
      right: 16px;

      img {
        width: 24px;
        aspect-ratio: 1/1;
      }
    }

    .menu_list {
      width: 100%;
      flex: 1;
      margin-top: 20px;

      li {
        border-bottom: 1px solid #e3e3e3;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  .logo_img {
    width: auto;
    height: 40px;
    object-fit: cover;
    display: block;
  }

  .link {
    font-size: 20px;
    font-weight: 600;
    color: #374151;
    letter-spacing: -0.2px;
    display: block;
    padding: 24px 0;
    line-height: 28px;

    &.active {
      color: #097bf8;
    }
  }

  .pc_head {
    display: none;
  }

  .apply-btn {
    width: 100%;
    border-radius: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: block;
    background-color: #097bf8;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: auto;
  }
}

@media screen and (min-width: 992px) {
  .theme-header {
    .mobile_head {
      display: none;
    }

    .pc_head {
      display: block;
      width: 100%;
      background: #fff;
    }

    .inner {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      padding: 23px 16px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      width: fit-content;
    }

    .logo_img {
      height: 56px;
    }

    .pc_menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 32px;

      li:last-child {
        margin-left: 16px;
      }
    }

    .link {
      font-size: 20px;
      padding: 0;
    }

    .apply-btn {
      font-size: 16px;
      font-weight: 600;
      height: 48px;
      padding: 0 24px;
      line-height: 49px;
    }
  }
}
