.theme-main {
  position: relative;
  padding: 0 16px;
  box-sizing: border-box;

  .inner-width {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .hero {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 24px;
    min-height: 600px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .swp-hero {
    height: 600px;
    .swiper-slide {
      position: relative;
      > img {
        width: 100%;
        object-fit: cover;
        display: block;

        &.pc {
          display: none;
        }
      }
    }

    .txt-box {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 38px;
      color: #fff;
      width: 100%;
      padding: 40px;
    }

    .title {
      font-size: 32px;
      font-weight: 700;
      line-height: 44px;
      display: block;
      margin-bottom: 8px;
    }

    .sub-title {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      opacity: 0.7;
    }

    .btns {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 24px 0 0;

      a {
        text-align: center;
        color: #fff;
        height: 48px;
        font-size: 16px;
        font-weight: 600;
        line-height: 47px;
        border-radius: 100px;
        background-color: #097bf8;

        &.gray {
          background-color: #534a60;
        }
      }
    }
  }

  .swiper-pagination2 {
    display: none;
  }

  .swiper-pagination {
    color: #fff;
    bottom: 32px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;

    .swiper-pagination-total {
      opacity: 0.5;
    }
  }

  .lecture {
    padding: 56px 0px;

    .category {
      font-size: 24px;
      font-weight: 600;
      line-height: 33px;
      color: #2a2a2a;
      display: block;
      margin-bottom: 16px;
    }
  }

  .lecture-list {
    position: relative;

    + .lecture-list {
      margin-top: 56px;
    }
  }

  .swp-lecture {
    .swiper-slide {
      img {
        width: 100%;
        height: calc((100vw * 95) / 375);
        object-fit: cover;
        border-radius: 6px;
        overflow: hidden;
        display: block;
        margin-bottom: 12px;
      }

      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: #2a2a2a;
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 4px;
      }

      .explain {
        height: 44px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #646464;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .btm {
        margin-top: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          color: #646464;

          &.label {
            font-size: 12px;
            color: #fff;
            border-radius: 100px;
            padding: 2.5px 8px;
            font-weight: 600;
            height: 22px;
            line-height: 17px;
            background-color: #ff7449;

            &.free {
              background-color: #2cc661;
            }
          }
        }
      }
    }
  }

  .navigation-box {
    display: none;
    position: absolute;
    right: 0;
    top: -115px;
  }

  .specialists {
    padding: 56px 0;
    margin: 0 -16px;
    max-width: 1800px;
    background-color: #eff6ff;

    .swp-expert {
      margin-top: 12px;
      padding: 20px 16px 0;

      .swiper-wrapper {
        align-items: flex-end;
      }

      .swiper-slide {
        position: relative;
        background-color: #8895a4;
        border-radius: 18px;
        overflow: hidden;
        opacity: 0.5;
        min-width: 300px;

        a {
          width: 100%;
          height: 100%;
          display: block;

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 50%;
            left: 0;
            bottom: 0;
            background: linear-gradient(
              180deg,
              rgba(24, 24, 24, 0) 0%,
              rgba(24, 24, 24, 0.75) 90.79%
            );
          }
        }

        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 1/1.2;
          object-fit: cover;
        }

        &.swiper-slide-active {
          opacity: 1;
          img {
            aspect-ratio: 1/1.3;
          }
        }
      }
    }

    .name {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 24px;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      color: #fff;
    }
  }

  .reviews {
    padding: 56px 0;
    position: relative;

    .swp-review {
      margin: 32px -16px;
      pointer-events: none;

      .swiper-wrapper {
        transition-timing-function: linear !important;
      }

      .swiper-slide {
        border-radius: 16px;
        border: 1px solid #e3e3e3;
        background-color: #fff;
        padding: 32px;
        width: 100%;
        min-width: 343px;
        max-width: 343px;

        .user {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 20px;

          > img {
            width: 56px;
            min-width: 56px;
            aspect-ratio: 1/1;
            border-radius: 16px;
            overflow: hidden;
            object-fit: cover;
            display: block;
          }
        }
      }

      .names {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: #2a2a2a;
        margin-bottom: 3px;

        .complete {
          font-weight: 400;
          color: #646464;
        }
      }

      .stars {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #2a2a2a;
      }

      .review-content {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #2a2a2a;
      }
    }
  }

  .direct-banner {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 56px;

    img {
      width: 100%;
      height: 100%;
      max-height: 240px;
      object-fit: cover;
      display: block;

      &.pc {
        display: none;
      }
    }

    .txt-box {
      position: absolute;
      left: 32px;
      bottom: 32px;
      z-index: 4;
      color: #fff;

      b {
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
        display: block;
        margin-bottom: 4px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
      }
    }
  }

  .move-link {
    display: block;
    position: absolute;
    right: 32px;
    bottom: 32px;
    border-radius: 100px;
    background-color: #fff;
    width: 48px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
    }
  }

  @media screen and (min-width: 992px) {
    .hero {
      border-radius: 36px;
    }

    .swp-hero {
      .swiper-slide {
        img {
          height: 100%;
          &.pc {
            display: block;
          }
          &.mo {
            display: none;
          }
        }
      }

      .txt-box {
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        text-align: left;
        width: fit-content;
        bottom: initial;
      }

      .title {
        font-size: 60px;
        line-height: 84px;
        margin-bottom: 16px;
      }

      .sub-title {
        font-size: 24px;
        line-height: 33px;
      }

      .btns {
        margin-top: 60px;
        gap: 12px;
        flex-direction: row;

        a {
          font-size: 20px;
          height: 60px;
          line-height: 60px;
          width: fit-content;
          flex: 1;
        }
      }
    }

    .swiper-pagination-container {
      position: absolute;
      right: 48px;
      bottom: 48px;
      display: flex;
      align-items: center;
      gap: 20px;
      z-index: 5;
    }

    .swiper-pagination {
      bottom: 0;
      position: relative;
    }

    .swiper-pagination2 {
      display: block;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      bottom: initial;
    }

    .swiper-pagination-bullet {
      background-color: #fff;
      opacity: 0.5;
      border-radius: 100px;
      width: 32px;
      height: 6px;
      margin: 0 !important;

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }

    .lecture {
      padding: 120px 0;

      .category {
        font-size: 48px;
        font-weight: 700;
        line-height: 67px;
        margin-bottom: 48px;
      }
    }

    .lecture-list {
      overflow: hidden;
      + .lecture-list {
        margin-top: 120px;
      }
    }

    .swp-lecture {
      overflow: initial;
      .swiper-slide {
        img {
          height: 170px;
          margin-bottom: 24px;
        }

        .title {
          font-size: 24px;
          font-weight: 700;
          line-height: 33px;
        }

        .explain {
          font-size: 16px;
          line-height: 22px;
        }

        .btm {
          margin-top: 16px;
          p {
            font-size: 16px;
            line-height: 22px;

            &.label {
              font-size: 16px;
              padding: 5px 12px;
              height: 32px;
              line-height: 22px;
            }
          }
        }
      }
    }

    .navigation-box {
      display: flex;
      align-items: center;
      gap: 8px;

      .swiper-button-next {
        right: 0;
        left: auto;
        order: 2;
      }

      .swiper-button-prev {
        left: 0;
        right: inherit;
      }

      .swiper-button-next,
      .swiper-button-prev {
        width: 68px;
        height: 68px;
        border-radius: 100px;
        position: relative;
        border: 1px solid #e3e3e3;
        background-color: #fff;
        margin: 0;
        top: initial;

        &::after {
          color: #2a2a2a;
          font-size: 23px;
        }
      }
    }

    .specialists,
    .reviews {
      padding: 120px 0;

      .section-title,
      .section-sub-title {
        text-align: left;
        padding: 0 16px;
      }
    }

    .specialists {
      margin: 0 auto;
      border-radius: 40px;

      .swp-expert {
        margin-top: 0;
        padding: 72px 16px 0 15%;

        .swiper-wrapper {
          min-height: 512px;
        }

        .swiper-slide {
          min-width: 400px;
          width: 400px;
        }
      }
    }

    .reviews {
      overflow: hidden;
      margin: 0 -16px;
      .swp-review {
        overflow: initial;
        margin: 72px 0 0;

        .swiper-slide {
          padding: 40px;
          width: 100%;
          min-width: 410px;
          max-width: 410px;
          flex-shrink: 0;

          .user {
            margin-bottom: 24px;
          }
        }
      }
    }

    .direct-banner {
      margin-bottom: 120px;

      img {
        max-height: 300px;

        &.pc {
          display: block;
        }
        &.mo {
          display: none;
        }
      }

      .txt-box {
        left: 100px;
        bottom: initial;
        top: 50%;
        transform: translateY(-50%);

        b {
          font-size: 48px;
          font-weight: 700;
          line-height: 67px;
        }

        p {
          font-size: 24px;
          line-height: 33px;
          opacity: 0.7;
        }
      }
    }

    .move-link {
      display: block;
      position: absolute;
      right: 46px;
      bottom: 46px;
      border-radius: 100px;
      background-color: #fff;
      width: 76px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
