.pc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 29px 60px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 50;

  .inner {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  .menu_list {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      color: #000;
    }
  }
}