.makao-header {
  width: 100%;
  position: relative;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.makao-header .header-menu-wrap {
  width: 100%;
}

.makao-header .header-menu-wrap.pc-header {
  display: none;
}

.makao-header .header-menu-wrap.mobile-header {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.makao-header .header-menu-wrap.mobile-header i {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

.makao-header .header-menu-wrap.mobile-header .mobile-logo-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.makao-header .header-menu-wrap.mobile-header .mobile-logo-box img {
  width: 75px;
  height: auto;
}

.makao-header .menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.makao-header .menu-item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: auto 1;
          flex: auto 1;
}

.makao-header .user-name {
  color: #ad93ef;
  font-size: 18px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.makao-header .user-name:hover {
  color: #ad93ef;
}

.makao-header .mobile-user-box {
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
  border-top: 1px solid #ad93ef;
  margin: 15px -4px 0;
}

.makao-header .mobile-user-box a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 0 4px;
  font-size: 14px;
}

.makao-header .user-name-text {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.makao-header .sub-title {
  letter-spacing: -0.32px;
  text-align: center;
  color: #f9e168;
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
}

.makao-header .menu-title {
  letter-spacing: -0.4px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: 0;
}

.makao-header .menu-link img {
  width: 110px;
  height: auto;
}

.makao-header .user-btn-box {
  border-radius: 50px;
  background-blend-mode: luminosity;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#489fdc), color-stop(#fff), color-stop(#906a00), color-stop(#d99f00), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #489fdc, #fff, #906a00, #d99f00, #fff), linear-gradient(to bottom, #fff, #fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 20px;
}

.makao-header .user-btn-box a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  text-align: center;
  color: #4d034f;
  display: block;
  position: relative;
}

.makao-header .user-btn-box a:first-child {
  margin-right: 24px;
}

.makao-header .user-btn-box a:first-child::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #4d034f;
  right: -12px;
  top: 4px;
}

.makao-nav {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  /* &::before {
        content: '';
        display: block;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        
    } */
}

.makao-nav.open {
  display: block;
}

.makao-nav i.xi-close {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 50;
}

.makao-nav .nav-inner-wrap {
  margin-right: 30px;
  /* max-width: 375px; */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  height: 100%;
  position: relative;
  left: -100%;
  border: 1px solid #ad93ef;
  overflow: hidden;
  overflow-y: auto;
}

.makao-nav .nav-inner-wrap .nav-inner-top {
  background-color: #000;
  border-bottom: 2px solid #ad93ef;
  padding: 20px;
  font-size: 14px;
  color: #aeaeae;
  position: relative;
}

.makao-nav .nav-inner-wrap .nav-inner-top .user-name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  color: #ad93ef;
}

.makao-nav .nav-inner-wrap .nav-menu-list {
  padding: 20px;
}

.makao-nav .nav-inner-wrap .nav-menu-list .nav-menu-item {
  margin-bottom: 20px;
}

.makao-nav .nav-inner-wrap .nav-menu-list .nav-menu-item .nav-menu-link {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #ad93ef;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  position: relative;
  font-weight: 400;
}

.makao-nav .nav-inner-wrap .nav-menu-list .nav-menu-item:last-child {
  margin-bottom: 0;
}

.makao-nav .nav-inner-wrap .nav-menu-list .nav-menu-item:last-child .nav-menu-link {
  /* border-bottom: 0; */
}

.user-login-mobile {
  color: #fff;
  /* background-color:  #ad93ef; */
  background: -webkit-gradient(linear, left bottom, left top, from(#0C161C), to(#343434));
  background: linear-gradient(to top, #0C161C, #343434);
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.user-login-mobile:hover {
  color: #fff;
}

.user-mypage {
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  /* margin-left: 10px; */
  color: #ad93ef;
  background-color: #ad93ef;
  padding: 10px;
  color: #fff;
}

.user-mypage:hover {
  color: #fff;
}

.user-logout {
  color: #fff;
  /* background-color: #ad93ef; */
  background: -webkit-gradient(linear, left bottom, left top, from(#480a56), to(#ab31c2));
  background: linear-gradient(to top, #480a56, #ab31c2);
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.user-logout:hover {
  color: #fff;
}

.user-mypage-mobile {
  color: #fff;
  /* background-color:  #ad93ef; */
  background: -webkit-gradient(linear, left bottom, left top, from(#0C161C), to(#343434));
  background: linear-gradient(to top, #0C161C, #343434);
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
  /*  margin-left: 10px; */
}

.user-mypage-mobile:hover {
  color: #fff;
}

.user-registe-mobile {
  color: #fff;
  /* background-color:  #ad93ef; */
  background: -webkit-gradient(linear, left bottom, left top, from(#480a56), to(#ab31c2));
  background: linear-gradient(to top, #480a56, #ab31c2);
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
}

.user-registe-mobile:hover {
  color: #fff;
}

@media screen and (min-width: 992px) {
  .makao-header {
    /* background-color: rgba(0,0,0,0.6); */
    /* position: ;
        top: 0;
        left: 0; */
  }
  .makao-header .header-menu-wrap.pc-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .makao-header .header-menu-wrap.mobile-header {
    display: none;
  }
  .makao-header .menu-list {
    /* margin: 0 -20px;
            width: auto; */
    width: 100%;
  }
  .makao-header .menu-item {
    padding: 0 10px;
  }
}

/*# sourceMappingURL=header.css.map */
