.makao-main .main-visual-banner-wrap {
  position: relative;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
}

.makao-main .main-visual-banner-wrap .slide-banner-img-box {
  width: 100%;
  position: relative;
  /* height: 400px; */
  overflow: hidden;
}

.makao-main .main-visual-banner-wrap .slide-banner-img-box::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.makao-main .main-visual-banner-wrap .slide-banner-img-box .slide-banner-img {
  width: 100%;
  padding-top: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.makao-main .main-visual-banner-wrap .main-visual-paging {
  bottom: 10px;
}

.makao-main .main-visual-banner-wrap .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 1px solid #f9e168;
  opacity: 1;
}

.makao-main .main-visual-banner-wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f9e168;
}

.makao-main .content-grid-wrap {
  position: relative;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  padding: 30px 0 40px;
}

.makao-main .content-grid-wrap::before {
  content: '';
  position: absolute;
  width: 100%;
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.makao-main .content-grid-wrap .grid-inner-content {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.makao-main .middle-content-modal-btn {
  position: relative;
  display: block;
}

.makao-main .middle-content-modal-btn:hover .middle-content-hover-box {
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-content-title {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.8px;
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: 0px 10px 9.8px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px #fff;
  background-blend-mode: luminosity;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#489fdc), color-stop(#fff), color-stop(#906a00), color-stop(#d99f00), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #489fdc, #fff, #906a00, #d99f00, #fff), linear-gradient(to bottom, #fff, #fff);
}

.makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-content-child-title {
  color: #fff;
  line-height: 1.45;
  letter-spacing: -0.44px;
  font-size: 15px;
  display: block;
  font-weight: 400;
}

.makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-popup-btn {
  display: block;
  margin: 15px auto 0;
  background-color: #f9e168;
  border-radius: 50px;
  width: 100%;
  max-width: 140px;
  padding: 6px;
  color: #000;
  letter-spacing: -0.36px;
  font-size: 16px;
}

.makao-main .middle-content-modal-btn .middle-content-hover-box {
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: none;
}

.makao-main .middle-content-box {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #ad93ef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.makao-main .middle-content-box .middle-content-img {
  width: 100%;
  padding-top: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.makao-main .security-img-box {
  width: 100%;
  margin-bottom: 20px;
}

.makao-main .security-img-box img {
  width: 100%;
  height: auto;
  position: relative;
  border: 1px solid #ad93ef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.makao-main .guide-img-bg {
  margin-bottom: 20px;
  position: relative;
}

.makao-main .guide-img-bg.guide-bg::before, .makao-main .guide-img-bg.kakao-bg::before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.makao-main .guide-img-bg.guide-bg::before {
  background-image: url(../img/guide-bg.png);
}

.makao-main .guide-img-bg.kakao-bg::before {
  background-image: url(../img/kakao.png);
}

.makao-main .user-consulting-link {
  display: block;
  position: relative;
  z-index: 5;
  padding: 20px;
  border: 1px solid #ad93ef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.makao-main .user-consulting-link .guide-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.makao-main .user-consulting-link .guide-title {
  text-shadow: 0px 10px 9.8px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 9px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#489fdc), color-stop(#fff), color-stop(#906a00), color-stop(#d99f00), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #489fdc, #fff, #906a00, #d99f00, #fff), linear-gradient(to bottom, #fff, #fff);
  background-blend-mode: luminosity;
}

.makao-main .user-consulting-link .guide-child-title {
  text-shadow: 0px 10px 9.8px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px #fff;
  background-blend-mode: luminosity;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#489fdc), color-stop(#fff), color-stop(#906a00), color-stop(#d99f00), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #489fdc, #fff, #906a00, #d99f00, #fff), linear-gradient(to bottom, #fff, #fff);
  font-size: 12px;
  font-weight: 300;
  display: block;
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  margin: 0;
}

.makao-main .user-consulting-link .inner-right-icon {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 60px;
}

.makao-main .user-consulting-link .inner-right-icon.guide {
  background-image: url(../img/guide-icon.png);
}

.makao-main .user-consulting-link .inner-right-icon.kakao {
  background-image: url(../img/kakao-icon.png);
}

.makao-main .guide-text {
  padding-right: 15px;
}

.makao-main .board-list-wrap {
  margin-bottom: 25px;
  border-top: 4px solid #ad93ef;
  position: relative;
  background-color: rgba(102, 102, 102, 0.3);
  /* padding: 0 15px; */
  height: 100%;
}

.makao-main .board-list-wrap .board-list-category {
  padding: 20px 15px;
  position: relative;
}

.makao-main .board-list-wrap .board-list-category .board-list-title {
  display: block;
  text-align: center;
  line-height: 1.11;
  letter-spacing: -0.72px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.makao-main .board-list-wrap .board-list-category .board-more-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.32px;
  position: absolute;
  right: 0px;
  top: 19px;
  color: #ad93ef;
}

.makao-main .board-list-wrap .board-content-list {
  /* padding: 0 20px; */
  padding: 0 15px;
}

.makao-main .board-list-wrap .board-content-list .board-content-link {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #5c2fcb;
  font-weight: 500;
  color: #fff;
  letter-spacing: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  opacity: 0.7;
}

.makao-main .board-list-wrap .board-content-list .board-content-link .notice-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  padding-right: 15px;
  width: 80%;
}

.makao-main .board-list-wrap .board-content-list .notice-write-date {
  font-size: 12px;
  white-space: nowrap;
}

.makao-main .board-list-wrap .board-content-list > li:last-child .board-content-link, .makao-main .board-list-wrap .board-content-list > li:last-child .account-info {
  border-bottom: 0;
}

.makao-main .board-list-wrap .account-info {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #5c2fcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: normal;
  font-weight: 500;
}

.makao-main .board-list-wrap .deel-date {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  color: #fff;
  font-size: 12px;
  opacity: 0.7;
}

.makao-main .board-list-wrap .deel-pay {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  font-size: 16px;
  font-weight: 600;
  color: #f9e168;
}

.makao-main .board-list-wrap .deel-user-name {
  text-align: right;
  font-size: 12px;
  color: #fff;
  opacity: 0.7;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.modal-open {
  padding-right: 0 !important;
}

@media screen and (min-width: 992px) {
  .makao-main .main-visual-banner-wrap .slide-banner-img-box .slide-banner-img {
    padding-top: 21%;
    background-position: center bottom -120px;
  }
  .makao-main .main-visual-banner-wrap .slide-banner-img-box::before {
    display: none;
  }
  .makao-main .middle-content-box .middle-content-img {
    padding-top: 45%;
  }
  .makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-content-title {
    font-size: 20px;
  }
  .makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-content-child-title {
    font-size: 15px;
    padding: 0 15px;
  }
  .makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-popup-btn {
    font-size: 16px;
  }
  .makao-main .user-consulting-link {
    padding: 40px;
  }
  .makao-main .user-consulting-link .guide-title {
    font-size: 36px;
    margin-bottom: 18px;
  }
  .makao-main .user-consulting-link .guide-child-title {
    font-size: 13px;
  }
  .makao-main .user-consulting-link .inner-right-icon {
    width: 100px;
    height: 100px;
    min-width: 100px;
  }
  .makao-main .board-list-wrap .board-list-category {
    padding: 30px 15px;
  }
  .makao-main .board-list-wrap .board-list-category .board-list-title {
    font-size: 36px;
  }
  .makao-main .board-list-wrap .board-list-category .board-more-link {
    font-size: 16px;
    top: 36px;
    right: 20px;
  }
  .makao-main .board-list-wrap .board-content-list {
    padding: 0 30px;
  }
  .makao-main .board-list-wrap .board-content-list .board-content-link {
    font-size: 18px;
  }
  .makao-main .board-list-wrap .board-content-list .notice-write-date {
    font-size: 14px;
  }
}

/*# sourceMappingURL=layout.css.map */
