@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Inter:wght@300;400;500;600;700;800 & display=swap");
@font-face {
  font-family: 'GmarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  font-family: 'Inter', 'GmarketSans', sans-serif  !important;
  scroll-behavior: smooth;
}

html::after, html::before, body::after, body::before {
  content: '';
  display: block;
  clear: both;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

button:focus, button:active {
  outline: none;
}

#wrap {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container {
  -webkit-box-flex: 1;
      -ms-flex: auto 1;
          flex: auto 1;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

.makao-header {
  width: 100%;
  position: relative;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.makao-header .header-menu-wrap {
  width: 100%;
}

.makao-header .header-menu-wrap.pc-header {
  display: none;
}

.makao-header .header-menu-wrap.mobile-header {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.makao-header .header-menu-wrap.mobile-header i {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

.makao-header .header-menu-wrap.mobile-header .mobile-logo-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.makao-header .header-menu-wrap.mobile-header .mobile-logo-box img {
  width: 75px;
  height: auto;
}

.makao-header .menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.makao-header .menu-item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: auto 1;
          flex: auto 1;
}

.makao-header .user-name {
  color: #ad93ef;
  font-size: 18px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.makao-header .user-name:hover {
  color: #ad93ef;
}

.makao-header .mobile-user-box {
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
  border-top: 1px solid #ad93ef;
  margin: 15px -4px 0;
}

.makao-header .mobile-user-box a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin: 0 4px;
  font-size: 14px;
}

.makao-header .user-name-text {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.makao-header .sub-title {
  letter-spacing: -0.32px;
  text-align: center;
  color: #f9e168;
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin-bottom: 15px;
}

.makao-header .menu-title {
  letter-spacing: -0.4px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: 0;
}

.makao-header .menu-link img {
  width: 110px;
  height: auto;
}

.makao-header .user-btn-box {
  border-radius: 50px;
  background-blend-mode: luminosity;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#489fdc), color-stop(#fff), color-stop(#906a00), color-stop(#d99f00), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #489fdc, #fff, #906a00, #d99f00, #fff), linear-gradient(to bottom, #fff, #fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 20px;
}

.makao-header .user-btn-box a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  text-align: center;
  color: #4d034f;
  display: block;
  position: relative;
}

.makao-header .user-btn-box a:first-child {
  margin-right: 24px;
}

.makao-header .user-btn-box a:first-child::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #4d034f;
  right: -12px;
  top: 4px;
}

.makao-nav {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  /* &::before {
        content: '';
        display: block;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        
    } */
}

.makao-nav.open {
  display: block;
}

.makao-nav i.xi-close {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 50;
}

.makao-nav .nav-inner-wrap {
  margin-right: 30px;
  /* max-width: 375px; */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  height: 100%;
  position: relative;
  left: -100%;
  border: 1px solid #ad93ef;
  overflow: hidden;
  overflow-y: auto;
}

.makao-nav .nav-inner-wrap .nav-inner-top {
  background-color: #000;
  border-bottom: 2px solid #ad93ef;
  padding: 20px;
  font-size: 14px;
  color: #aeaeae;
  position: relative;
}

.makao-nav .nav-inner-wrap .nav-inner-top .user-name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: normal;
  color: #ad93ef;
}

.makao-nav .nav-inner-wrap .nav-menu-list {
  padding: 20px;
}

.makao-nav .nav-inner-wrap .nav-menu-list .nav-menu-item {
  margin-bottom: 20px;
}

.makao-nav .nav-inner-wrap .nav-menu-list .nav-menu-item .nav-menu-link {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #ad93ef;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  position: relative;
  font-weight: 400;
}

.makao-nav .nav-inner-wrap .nav-menu-list .nav-menu-item:last-child {
  margin-bottom: 0;
}

.makao-nav .nav-inner-wrap .nav-menu-list .nav-menu-item:last-child .nav-menu-link {
  /* border-bottom: 0; */
}

.user-login-mobile {
  color: #fff;
  /* background-color:  #ad93ef; */
  background: -webkit-gradient(linear, left bottom, left top, from(#0C161C), to(#343434));
  background: linear-gradient(to top, #0C161C, #343434);
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.user-login-mobile:hover {
  color: #fff;
}

.user-mypage {
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  /* margin-left: 10px; */
  color: #ad93ef;
  background-color: #ad93ef;
  padding: 10px;
  color: #fff;
}

.user-mypage:hover {
  color: #fff;
}

.user-logout {
  color: #fff;
  /* background-color: #ad93ef; */
  background: -webkit-gradient(linear, left bottom, left top, from(#480a56), to(#ab31c2));
  background: linear-gradient(to top, #480a56, #ab31c2);
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.user-logout:hover {
  color: #fff;
}

.user-mypage-mobile {
  color: #fff;
  /* background-color:  #ad93ef; */
  background: -webkit-gradient(linear, left bottom, left top, from(#0C161C), to(#343434));
  background: linear-gradient(to top, #0C161C, #343434);
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
  /*  margin-left: 10px; */
}

.user-mypage-mobile:hover {
  color: #fff;
}

.user-registe-mobile {
  color: #fff;
  /* background-color:  #ad93ef; */
  background: -webkit-gradient(linear, left bottom, left top, from(#480a56), to(#ab31c2));
  background: linear-gradient(to top, #480a56, #ab31c2);
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
}

.user-registe-mobile:hover {
  color: #fff;
}

@media screen and (min-width: 992px) {
  .makao-header {
    /* background-color: rgba(0,0,0,0.6); */
    /* position: ;
        top: 0;
        left: 0; */
  }
  .makao-header .header-menu-wrap.pc-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .makao-header .header-menu-wrap.mobile-header {
    display: none;
  }
  .makao-header .menu-list {
    /* margin: 0 -20px;
            width: auto; */
    width: 100%;
  }
  .makao-header .menu-item {
    padding: 0 10px;
  }
}

.makao-footer {
  background-color: #000;
  padding: 30px 0;
}

.makao-footer .footer-content-wrap .footer-content-innter {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.makao-footer .footer-content-wrap .footer-content-logo {
  width: 100%;
  text-align: center;
}

.makao-footer .footer-content-wrap .footer-content-logo img {
  width: 80px;
  height: auto;
}

.makao-footer .footer-content-wrap .family-logo-list-wrap {
  width: 100%;
  margin-top: 20px;
}

.makao-footer .footer-content-wrap .family-logo-list-wrap .family-logo-item img {
  width: 100%;
  height: auto;
}

.makao-footer .copyright {
  font-size: 16px;
  font-weight: 500;
  color: #515151;
  letter-spacing: -0.32px;
  margin-top: 30px;
  display: block;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .makao-footer .footer-content-wrap .footer-content-innter {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .makao-footer .footer-content-wrap .footer-content-logo {
    width: auto;
  }
  .makao-footer .footer-content-wrap .family-logo-list-wrap {
    width: auto;
    margin: 0;
    padding-left: 100px;
  }
}

.makao-main .main-visual-banner-wrap {
  position: relative;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
}

.makao-main .main-visual-banner-wrap .slide-banner-img-box {
  width: 100%;
  position: relative;
  /* height: 400px; */
  overflow: hidden;
}

.makao-main .main-visual-banner-wrap .slide-banner-img-box::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.makao-main .main-visual-banner-wrap .slide-banner-img-box .slide-banner-img {
  width: 100%;
  padding-top: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.makao-main .main-visual-banner-wrap .main-visual-paging {
  bottom: 10px;
}

.makao-main .main-visual-banner-wrap .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 1px solid #f9e168;
  opacity: 1;
}

.makao-main .main-visual-banner-wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f9e168;
}

.makao-main .content-grid-wrap {
  position: relative;
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50vw);
          transform: translateX(-50vw);
  padding: 30px 0 40px;
}

.makao-main .content-grid-wrap::before {
  content: '';
  position: absolute;
  width: 100%;
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.makao-main .content-grid-wrap .grid-inner-content {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.makao-main .middle-content-modal-btn {
  position: relative;
  display: block;
}

.makao-main .middle-content-modal-btn:hover .middle-content-hover-box {
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-content-title {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.8px;
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: 0px 10px 9.8px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px #fff;
  background-blend-mode: luminosity;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#489fdc), color-stop(#fff), color-stop(#906a00), color-stop(#d99f00), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #489fdc, #fff, #906a00, #d99f00, #fff), linear-gradient(to bottom, #fff, #fff);
}

.makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-content-child-title {
  color: #fff;
  line-height: 1.45;
  letter-spacing: -0.44px;
  font-size: 15px;
  display: block;
  font-weight: 400;
}

.makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-popup-btn {
  display: block;
  margin: 15px auto 0;
  background-color: #f9e168;
  border-radius: 50px;
  width: 100%;
  max-width: 140px;
  padding: 6px;
  color: #000;
  letter-spacing: -0.36px;
  font-size: 16px;
}

.makao-main .middle-content-modal-btn .middle-content-hover-box {
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: none;
}

.makao-main .middle-content-box {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #ad93ef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.makao-main .middle-content-box .middle-content-img {
  width: 100%;
  padding-top: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.makao-main .security-img-box {
  width: 100%;
  margin-bottom: 20px;
}

.makao-main .security-img-box img {
  width: 100%;
  height: auto;
  position: relative;
  border: 1px solid #ad93ef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.makao-main .guide-img-bg {
  margin-bottom: 20px;
  position: relative;
}

.makao-main .guide-img-bg.guide-bg::before, .makao-main .guide-img-bg.kakao-bg::before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.makao-main .guide-img-bg.guide-bg::before {
  background-image: url(../img/guide-bg.png);
}

.makao-main .guide-img-bg.kakao-bg::before {
  background-image: url(../img/kakao.png);
}

.makao-main .user-consulting-link {
  display: block;
  position: relative;
  z-index: 5;
  padding: 20px;
  border: 1px solid #ad93ef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.makao-main .user-consulting-link .guide-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.makao-main .user-consulting-link .guide-title {
  text-shadow: 0px 10px 9.8px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 9px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#489fdc), color-stop(#fff), color-stop(#906a00), color-stop(#d99f00), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #489fdc, #fff, #906a00, #d99f00, #fff), linear-gradient(to bottom, #fff, #fff);
  background-blend-mode: luminosity;
}

.makao-main .user-consulting-link .guide-child-title {
  text-shadow: 0px 10px 9.8px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px #fff;
  background-blend-mode: luminosity;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#489fdc), color-stop(#fff), color-stop(#906a00), color-stop(#d99f00), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(to top, #489fdc, #fff, #906a00, #d99f00, #fff), linear-gradient(to bottom, #fff, #fff);
  font-size: 12px;
  font-weight: 300;
  display: block;
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  margin: 0;
}

.makao-main .user-consulting-link .inner-right-icon {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 60px;
}

.makao-main .user-consulting-link .inner-right-icon.guide {
  background-image: url(../img/guide-icon.png);
}

.makao-main .user-consulting-link .inner-right-icon.kakao {
  background-image: url(../img/kakao-icon.png);
}

.makao-main .guide-text {
  padding-right: 15px;
}

.makao-main .board-list-wrap {
  margin-bottom: 25px;
  border-top: 4px solid #ad93ef;
  position: relative;
  background-color: rgba(102, 102, 102, 0.3);
  /* padding: 0 15px; */
  height: 100%;
}

.makao-main .board-list-wrap .board-list-category {
  padding: 20px 15px;
  position: relative;
}

.makao-main .board-list-wrap .board-list-category .board-list-title {
  display: block;
  text-align: center;
  line-height: 1.11;
  letter-spacing: -0.72px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.makao-main .board-list-wrap .board-list-category .board-more-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.32px;
  position: absolute;
  right: 0px;
  top: 19px;
  color: #ad93ef;
}

.makao-main .board-list-wrap .board-content-list {
  /* padding: 0 20px; */
  padding: 0 15px;
}

.makao-main .board-list-wrap .board-content-list .board-content-link {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #5c2fcb;
  font-weight: 500;
  color: #fff;
  letter-spacing: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  opacity: 0.7;
}

.makao-main .board-list-wrap .board-content-list .board-content-link .notice-title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  padding-right: 15px;
  width: 80%;
}

.makao-main .board-list-wrap .board-content-list .notice-write-date {
  font-size: 12px;
  white-space: nowrap;
}

.makao-main .board-list-wrap .board-content-list > li:last-child .board-content-link, .makao-main .board-list-wrap .board-content-list > li:last-child .account-info {
  border-bottom: 0;
}

.makao-main .board-list-wrap .account-info {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #5c2fcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: normal;
  font-weight: 500;
}

.makao-main .board-list-wrap .deel-date {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  color: #fff;
  font-size: 12px;
  opacity: 0.7;
}

.makao-main .board-list-wrap .deel-pay {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  font-size: 16px;
  font-weight: 600;
  color: #f9e168;
}

.makao-main .board-list-wrap .deel-user-name {
  text-align: right;
  font-size: 12px;
  color: #fff;
  opacity: 0.7;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.modal-open {
  padding-right: 0 !important;
}

@media screen and (min-width: 992px) {
  .makao-main .main-visual-banner-wrap .slide-banner-img-box .slide-banner-img {
    padding-top: 21%;
    background-position: center bottom -120px;
  }
  .makao-main .main-visual-banner-wrap .slide-banner-img-box::before {
    display: none;
  }
  .makao-main .middle-content-box .middle-content-img {
    padding-top: 45%;
  }
  .makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-content-title {
    font-size: 20px;
  }
  .makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-content-child-title {
    font-size: 15px;
    padding: 0 15px;
  }
  .makao-main .middle-content-modal-btn:hover .middle-content-hover-box .hover-popup-btn {
    font-size: 16px;
  }
  .makao-main .user-consulting-link {
    padding: 40px;
  }
  .makao-main .user-consulting-link .guide-title {
    font-size: 36px;
    margin-bottom: 18px;
  }
  .makao-main .user-consulting-link .guide-child-title {
    font-size: 13px;
  }
  .makao-main .user-consulting-link .inner-right-icon {
    width: 100px;
    height: 100px;
    min-width: 100px;
  }
  .makao-main .board-list-wrap .board-list-category {
    padding: 30px 15px;
  }
  .makao-main .board-list-wrap .board-list-category .board-list-title {
    font-size: 36px;
  }
  .makao-main .board-list-wrap .board-list-category .board-more-link {
    font-size: 16px;
    top: 36px;
    right: 20px;
  }
  .makao-main .board-list-wrap .board-content-list {
    padding: 0 30px;
  }
  .makao-main .board-list-wrap .board-content-list .board-content-link {
    font-size: 18px;
  }
  .makao-main .board-list-wrap .board-content-list .notice-write-date {
    font-size: 14px;
  }
}

.modal .modal-content {
  background-image: url(../img/modal-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border: 1px solid #cac353;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal.main-popup {
  /* display: block; */
}

.modal .modal-dialog {
  width: 100%;
  max-width: 970px;
}

.modal .modal-dialog.main-popup-dialog {
  width: 100%;
  max-width: 500px;
}

.modal .modal-header {
  border: 0;
  padding: 0;
  display: block;
  position: relative;
  padding: 50px;
}

.modal .modal-header i {
  font-size: 25px;
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal .modal-header .modal-logo {
  width: 100%;
  text-align: center;
}

.modal .modal-header .modal-logo img {
  width: 110px;
  height: auto;
}

.modal .group-box {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal .group-box:last-child {
  margin-bottom: 0;
}

.modal .group-box.flex-group-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .group-box.flex-group-box .registe-left {
  /* width: 25%; */
  min-width: 25%;
  word-wrap: break-word;
}

.modal .group-box .dark-input {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: 50px;
  background-color: #000;
  border: 1px solid #43335b;
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
  color: #fff;
}

.modal .group-box .dark-input::-webkit-input-placeholder {
  color: #adadad;
}

.modal .group-box .dark-input::-moz-placeholder {
  color: #adadad;
}

.modal .group-box .dark-input:-ms-input-placeholder {
  color: #adadad;
}

.modal .group-box .dark-input::-ms-input-placeholder {
  color: #adadad;
}

.modal .group-box .dark-input::placeholder {
  color: #adadad;
}

.modal .group-box .dark-input.registe-input {
  /* max-width: 80%; */
}

.modal .registe-left {
  display: block;
  /* width: 100%;
        max-width: 140px; */
}

.modal .inner-body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.modal .registe-category {
  position: relative;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}

.modal .registe-category.required::after {
  content: '*';
  display: block;
  position: absolute;
  top: -5px;
  right: -12px;
  color: #cac353;
}

.modal .number-btn {
  margin-left: 10px;
  background-color: #4a1f96;
  color: #fff;
  height: 50px;
  text-align: center;
  min-width: 140px;
}

.modal .modal-footer {
  border: 0;
  padding: 0;
  display: block;
  padding: 60px 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-footer .modal-bottom-btn {
  max-width: 140px;
  width: 100%;
  border-radius: 100px;
  background-color: #ebe034;
  padding: 9px 7px 6px;
}

@media screen and (min-width: 768px) {
  .modal .group-box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=theme.css.map */
