.theme-footer {
  background-color: #2A3140;
  width: 100%;
}

.theme-footer .content_layout {
  padding: 58px 47px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theme-footer .info {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.theme-footer .logo_info {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.theme-footer .logo_info > img {
  width: calc(100vw * 192 / 375);
  display: block;
  margin: 0 auto 69px;
  max-width: 332px;
}

.theme-footer .partner_site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
}

.theme-footer .sns_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -6px;
}

.theme-footer .sns_list > li {
  padding: 0 6px;
}

.theme-footer .sns_list > li img {
  width: 28px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
}

.theme-footer .connect_site_select {
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  padding: 7px 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 144px;
  background: url(../img/footer/select_arrow.svg) no-repeat right 9px center;
}

.theme-footer .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.theme-footer .menu_list > li {
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.theme-footer .menu_list.pc_show {
  display: none;
}

.theme-footer .menu_list.mobile_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 41px;
}

.theme-footer .menu_link {
  font-size: 10px;
  font-weight: 500;
  color: #fff;
}

.theme-footer .company_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  border-top: 1px solid #fff;
}

.theme-footer .company_info > li {
  color: #fff;
  font-size: 10px;
}

@media screen and (min-width: 992px) {
  .theme-footer .content_layout {
    padding: 46px 58px 71px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .theme-footer .logo_info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .theme-footer .logo_info > img {
    max-width: 192px;
    margin: 0 0 22px;
  }
  .theme-footer .info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .theme-footer .menu_list {
    margin: 0 -15px 17px;
  }
  .theme-footer .menu_list.mobile_show {
    display: none;
  }
  .theme-footer .menu_list.pc_show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .theme-footer .menu_list > li {
    padding: 0 15px;
  }
  .theme-footer .menu_link {
    font-size: 14px;
  }
  .theme-footer .company_info {
    padding-top: 17px;
  }
  .theme-footer .company_info > li {
    font-size: 14px;
  }
  .theme-footer .connect_site_select {
    margin-left: 18px;
    width: 144px;
    border-color: #4E4E4E;
    color: #696969;
    background: url(..//img/footer/select_arrow_off.svg) no-repeat right 9px center;
  }
}

/*# sourceMappingURL=footer.css.map */
