.theme-header {
  width: 100vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50vw) translateZ(0);
          transform: translateX(-50vw) translateZ(0);
  background-color: #fff;
  position: fixed;
  will-change: transform;
  top: 0;
  z-index: 90;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.theme-header .pc-mode {
  display: none;
}

.theme-header .head-logo-box {
  cursor: pointer;
}

.theme-header .head-logo-box > img {
  width: 100%;
  max-width: 127px;
  display: block;
}

.theme-header .mobile-side-menu-wrap {
  display: block;
  line-height: normal;
}

.theme-header .inner-header {
  width: 100%;
  max-width: 1280px;
  padding: 20px 29px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.theme-header .menu-btn {
  width: 30px;
  height: 23px;
  background-image: url(../img/header/hamburger_btn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  background-position: center;
}

.mobile-side-menu.open .mobile-mode {
  right: 0;
}

.mobile-side-menu.open .mobile-side-dimmed {
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: visible;
}

.mobile-mode {
  right: -100%;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  z-index: 99;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-side-dimmed {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 98;
  visibility: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.mobile-nav-close-btn {
  position: absolute;
  right: 27px;
  top: 36px;
  line-height: normal;
  width: 18px;
  height: 18px;
  z-index: 10;
}

.nav_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 29px;
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.15);
}

.nav_head img {
  cursor: pointer;
}

.user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 33px 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #C3C3C3;
}

.user_info .name {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 4px;
  color: #707070;
}

.info_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.info_list > span {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
  color: #4B4B4B;
  position: relative;
}

.info_list > span:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background-color: #707070;
  position: absolute;
  right: 0px;
  top: 5px;
}

.notice {
  background-image: url(../img/header/icon_notice.svg);
  width: 11px;
  height: 13px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logout {
  background-image: url(../img/header/icon_logout.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: -7px;
}

.mobile_nav_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mobile_nav_wrap .nav_list {
  background-color: #F5F5F5;
  border-right: 1px solid #D8D8D8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile_nav_wrap .nav_list a {
  display: block;
  padding: 12px 30px 18px;
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #D8D8D8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile_nav_wrap .nav_list a.active {
  color: #EF7100;
  background-color: #fff;
}

.two_depth_menu {
  padding: 21px 37px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: none;
}

.two_depth_menu.on {
  display: block;
}

.depth_menu_inner {
  margin: 0 0 30px;
}

.depth_menu_inner .menu_title {
  padding: 0 0 5px;
  color: #EF7100;
  font-size: 16px;
  font-weight: 700;
  display: block;
  border-bottom: 1px solid #707070;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 10px;
  text-align: left;
}

.depth_menu_inner > a {
  font-size: 13px;
  color: #898A8B;
  display: block;
}

.depth_menu_inner:last-child {
  margin: 0;
}

.pc_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -40px;
}

.pc_menu_list > li {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 60px 40px 40px;
  color: #2B3140;
  position: relative;
}

.pc_menu_list > li:hover {
  color: #EF7100;
}

.pc_menu_list > li:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 11px;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #EF7100;
}

.slide_down_wrap {
  position: relative;
}

.slide_down {
  position: absolute;
  left: -40px;
  right: -40px;
  top: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  height: 0;
}

.slide_down::before {
  content: "";
  display: block;
  width: 100vw;
  position: fixed;
  left: 0;
  height: 0;
  top: 131px;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.slide_down.on {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 32px 0 44px;
}

.slide_down.on::before {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  height: 280px;
}

.three_depth_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 -40px;
}

.three_depth_menu_list .menu_item {
  padding: 0 40px;
  font-size: 16px;
  color: #000;
}

.three_depth_menu_list .menu_item > b {
  display: block;
  margin: 0 0 7px;
}

.three_depth_menu_list .menu_item a {
  display: block;
  color: #000;
  margin: 0 0 7px;
}

@media (min-width: 992px) {
  .theme-header {
    height: auto;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    border-bottom: 1px solid #dcdcdc;
  }
  .theme-header .head-logo-box img {
    max-width: 214px;
  }
  .theme-header .head-logo-box .mobile-logo {
    display: none;
  }
  .theme-header .head-logo-box .pc-logo {
    display: block;
    width: 110px;
    height: auto;
  }
  .theme-header .inner-header {
    padding: 0 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .theme-header .pc-mode {
    display: block;
  }
  .nav_head .header_logo {
    max-width: 214px;
  }
  .theme-nav.mobile-mode {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  }
}

/*# sourceMappingURL=header.css.map */
